<div class="modal-header">
	<h3 class="modal-title">Отменить</h3>
</div>
<div class="modal-body">
	<h4>Вы действительно хотите отменить?</h4>
</div>
<div class="modal-footer">
	<div class="doc-buttons">
		<button class="btn btn-danger" ng-click="ok()">Да</button>
		<button class="btn btn-default" ng-click="cancel()">Нет</button>
	</div>
</div>