<div class="modal-header">
	<h3 class="modal-title">Удалить</h3>
</div>
<div class="modal-body">
	<h4>Вы уверены?</h4>
</div>
<div class="modal-footer">
	<div class="doc-buttons">
		<button class="btn btn-danger" ng-click="ok()">Удалить</button>
		<button class="btn btn-default" ng-click="cancel()">Oтменить</button>
	</div>
</div>