<div>
<div class="modal-header bg-danger">
	<h3 class="modal-title ">Отклонить</h3>
</div>
<div class="modal-body">

		<h4 >Дата отклонения</h4>
		<p class="input-group mydatepicker">
		 <input ng-model="reminder_19.reminderDate " type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
	    	<span class="input-group-btn">
	      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	    	</span>
	  	</p>
		<br>
		<h4>Описание</h4>
		<textarea ng-model="reminder_19.description" type="text" row="3" class="form-control" placeholder='' name="total"></textarea> 
	
		
	
	<!-- <div class="col-md-4 form-group">
		<h4>Описание</h4>
		<textarea ng-model="reminder_19.description" type="text" row="3" class="form-control" placeholder='Введите описание' name="total"></textarea> 
	</div>
 -->
</div>

<div class="modal-footer">
	<div class="doc-buttons">
		<button class="btn btn-success" ng-click="save()">Сохронить</button>
		<button class="btn btn-default" ng-click="cancel()">Отменить</button>
	</div>
</div>
</div>