<div class="modal-header">
	<h3 class="modal-title">Создать пользователя</h3>
</div>
<div class="modal-body">
	<h4>Вы действительно хотите создать учетную запись?</h4>
</div>
<div class="modal-footer">
	<div class="doc-buttons">
		<button class="btn btn-danger" ng-click="ok()">Создать</button>
		<button class="btn btn-default" ng-click="cancel()">Отмена</button>
	</div>
</div>