
<!DOCTYPE html>
<html lang="en">	
<head>		
   <meta charset="utf-8" />
  <title>Barbulak</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 
  <link rel="stylesheet" href="loginStyle/css/app.css" type="text/css" />
  <link rel="stylesheet" href="loginStyle/css/app.min.css" type="text/css" />
  <link rel="stylesheet" href="loginStyle/css/font.css" type="text/css" />
</head>
<body style="background-image:url(loginStyle/img/voda.jpg);
			 background-size: 1800px 1200px;
	    	 background-repeat: no-repeat;
	    	 " >

<div class="app app-header-fixed  ">
  
  </br>
    </br>
<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block " style="font-size:40px; color:#FFFFFF;'">BARBULAK</a>
  <div class="m-b-lg">
     <div class="wrapper text-center">
      <strong></strong>
    </div> 
  
    <form name="form" action="" method="POST" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError"></div>
      
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          
          <input type="text" name="username" placeholder="Введите логин" class="form-control no-border" required>
        
        </div>
        <div class="list-group-item">
           
           <input type="password" name="password" placeholder="Введите пароль" class="form-control no-border" required>
        
        </div>
      </div>
        
        <div class="checkbox">
          <label class="i-checks">
            <input type="checkbox" id="rememberMe" name="rememberMe" value="true" /> 
            <i></i>
            Запомнить
          </label>
        </div>
      
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Войти</button>
      
      <div class="line line-dashed"></div>
      
    </form>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    <p>
  <small class="text-muted" style="color:#616161;'">Barbulak System created by NSI Technologies<br>&copy; 2015</small>
</p>
  </div>
</div>


</div>

 <!-- <form name="loginform" action="" method="post">
	<table align="left" border="0" cellspacing="0" cellpadding="3">
	    <tr>
	        <td>Username:</td>
	        <td><input type="text" name="username" maxlength="30"></td>
	    </tr>
	    <tr>
	        <td>Password:</td>
	        <td><input type="password" name="password" maxlength="30"></td>
	    </tr>
	    <tr>
	        <td colspan="2" align="left"><input type="checkbox" name="rememberMe"><font size="2">Remember Me</font></td>
	    </tr>
	    <tr>
	        <td colspan="2" align="right"><input type="submit" name="submit" value="Login"></td>
	    </tr>
	</table>
	</form> -->



<!-- / footer -->
  <script src="loginStyle/js/app.min.js"></script>
  <script src="loginStyle/js/app.src.js"></script>
  <script src="loginStyle/js/ui-jp.config.js"></script>
  <script src="loginStyle/js/ui-jp.js"></script>
  <script src="loginStyle/js/ui-load.js"></script>
  <script src="loginStyle/js/ui-nav.js"></script>
  <script src="loginStyle/js/ui-toggle.js"></script>
</body>
</html>