<div ng-controller="EvoluationInstallmentAddCtrl">
<div class="row">
		<div class="col-lg-12">
			<section class="panel">
								
				<div class="r bg-default dker item hbox no-border">
               	<div class="bg-default wrapper-lg">
					<h1 class="m-n font-thin h3">Добавить начисление</h1>
				</div>
                <div class="col w-xs v-middle hidden-md">
                    <!-- <div ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline"></div> -->
                </div> 
                <div class="col dk padder-v wrapper-lg">
                    <div class="text-primary-dk font-thin h4 text-right"  ng-repeat="cashbox in cashboxs" >
                    <div ng-model="cashbox.total">{{cashbox.name+"  "+cashbox.total}}&nbsp;<span class="text-primary-dk font-thin h5">сом</span></div></div>
                    <div class="text-muted text-xs text-right"><span>Общая сумма</span></div>
                </div>
              </div>
        
          
			<div class="progress progress-xs m-b-none dker">
	            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
	        </div>
	<div class="panel">
		<div class="panel-body">
		<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="sendToBackEnd()">
			<div class="col-sm-6">
				<section class="panel">
				<header class="panel-heading bg-dark" >Список сотрудников</header>
						<div class="line line-dashed line-lg pull-in"></div>
						<div class="table-responsive">
								<table class="table table-striped m-b-none">
									<thead>
										<tr role="row">
											<td style="font-weight: 600" >№</td>
											<td style="font-weight: 600" >Имя</td>
											<td style="font-weight: 600" >Фамилия</td>
											<td style="font-weight: 600" class=" text-center" >Сумма</td>
											<td style="font-weight: 600" class=" text-center" >Описание</td>
											<td style="font-weight: 600" class=" text-right"></td>
										</tr>
									</thead>
									<tbody ng-model="pce"role="alert" aria-live="polite" aria-relevant="all">
										<tr ng-repeat="pce in personalCalculationEvaluation"  ng-class="{odd: $odd, even: $even}">
											<td>{{$index + 1}}.</td>
											<td rowspan="1" colspan="1">{{pce.name}}</td>
											<td rowspan="1" colspan="1">{{pce.surname}}</td>
											<td rowspan="1" colspan="1">
												<input ng-model="pce.amount" class="form-control text-center"> 
											</td>
											<td rowspan="1" colspan="1">
												<input ng-model="pce.description" class="form-control"> 
											</td rowspan="1" colspan="1">
											<!-- <td><a  class="btn btn-sm  btn-icon btn-default "
											   ng-class="getClass({{pce.Id}})" 
									           ng-disabled="!selection.Ids[pce.Id] "><i class="fa fa-unlock-alt"></i></a></td> -->
										</tr>
									</tbody>
								</table>
							<div class="form-group "></div>
						</div>
				</section>
			</div>
	          <div class="form-group ">
	          	<div class="form-group" style="margin-left: 180px;">
	          		<button type="submit" class="btn btn-s-md btn-success" >Сохранить</button>
	          	</div>
	          </div>
			</form>
			</div>
			</div>
			</section>
		</div>
	</div>
</div>