<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
  	<p class="text-centers">Бухгалтер</p>
  </li>
  <li>
     <a ui-sref="accountant.personal_balance.list">      
      <i class="glyphicon glyphicon-barcode icon text-success-dker"></i>
      <span class="">Индивидуальный баланс</span>
    </a>
  </li>
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-sort icon text-success-dker"></i>
      <span class="">Приход/Расход</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Приход/Расход</a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="accountant.transaction_category.list">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список</span>
       	</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.transaction_category.add">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить</span>
        </a>
      </li>
    </ul>
  </li>      
  
  
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-transfer icon text-success-dker"></i>
      <span class="">Операции</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Операции</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.transaction.list">
        	<!-- <b class="label bg-info pull-right">^</b> -->
        	<span>Список основных</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.transaction.add">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить</span>
        </a>
      </li>
      
        <li class="line dk"></li>
        
      <li ui-sref-active="active">
        <a ui-sref="accountant.transaction.listP">
        	<!-- <b class="label bg-info pull-right">^</b> -->
        	<span>Индивидуальный</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.transaction.addP">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить</span>
        </a>
      </li>
      
      <li class="line dk"></li>
      
      <li ui-sref-active="active">
        <a ui-sref="accountant.transaction.addAll">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить общий</span>
        </a>
      </li>
      
    </ul>
  </li>
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-usd icon text-success-dker"></i>
      <span class="">Рассрочка</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Рассрочка</a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="accountant.installment.list">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список</span>
       	</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.installment.add">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="line dk"></li>
   
   
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-success-dker"></i>
      <span class="">Категория инвентаризации</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Категория инвентаризации</a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="accountant.inventory_category.list">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список категорий</span>
       	</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.inventory_category.add">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить категорию</span>
        </a>
      </li>
    </ul>
  </li>    
   
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-paperclip icon text-success-dker"></i>
      <span class="">Экземпляр</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Экземпляр</a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="accountant.inventory_type.list">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список экземпляров</span>
       	</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.inventory_type.add">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить экземпляр</span>
        </a>
      </li>
    </ul>
  </li>      

<li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-eye-open icon text-success-dker"></i>
      <span class="">Инвентарь</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Инвентарь</a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="accountant.inventory.list">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список</span>
       	</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.inventory.add">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить</span>
        </a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="accountant.inventory.listS">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список списанных</span>
       	</a>
      </li>
    </ul>
  </li>
  
  

<li class="line dk"></li>
  
   <li>
     <a ui-sref="accountant.evoluation_installment.add">      
      <i class="glyphicon glyphicon-retweet icon text-success-dker"></i>
      <span class="">Определение рассрочки</span>
    </a>
  </li>

   <li>
     <a ui-sref="accountant.evoluation_fee.add">      
      <i class="glyphicon  glyphicon-eye-open icon text-success-dker"></i>
      <span class="">Начисление зарплаты</span>
    </a>
  </li>


   <li>
     <a ui-sref="accountant.calculation.add">      
      <i class="glyphicon glyphicon-euro icon text-success-dker"></i>
      <span class="">Зарплата</span>
    </a>
  </li>
  
	<li class="line dk"></li>
<!-- 
<li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-plus icon text-success-dker"></i>
      <span class="">Закупка сырья</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Закупка сырья</a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="accountant.buy_raw_material.list">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список закупкок сырья</span>
       	</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="accountant.buy_raw_material.add">
          <b class="label bg-success pull-right">+</b>
          <span>Добавить закупку сырья</span>
        </a>
      </li>
    </ul>
  </li>

 -->