<div ng-controller="CashboxAccountantAddCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading font-bold">Добавить ответственного за кассу</div>
								<div class="panel-body">
									<form class="bs-example form-horizontal ng-pristine ng-valid" role="form" ng-submit="create()">
										<div class="form-group">
								          <label class="col-lg-3 control-label">Касса</label>
								            <div class="col-lg-6"> 
								              <select ng-model="cashbox_accountant.cashbox.id" class="form-control" select>
								              	<option value="">Выберите...</option>
								                <option ng-repeat="cashbox in cashboxes" ng-value="cashbox.id">{{cashbox.name}}</option>
								              </select>  
								            </div>
									     </div>
									     <div class="form-group">
								          <label class="col-lg-3 control-label">Ответственный</label>
								            <div class="col-lg-6"> 
								              <select ng-model="cashbox_accountant.staff.id" class="form-control" select>
								              	<option value="">Выберите...</option>
								                <option ng-repeat="staff in staffs" ng-value="staff.id">{{staff.name}}</option>
								              </select>  
								            </div>
									     </div>
				            			<div class="form-group">
								            <label class="col-lg-3 control-label"></label>
								         	<div class="col-lg-9">
												<button class="btn btn-sm btn-info" type="submit">Сохранить</button>
								          	</div>
								      	</div>
          							</form>
        						</div>
      					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
</div>