<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"></li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tint icon text-info"></i>
      <span class="font-bold ptsans">Склад</span>
    </a>
   <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager.warehouse.list">Склад</a>
      </li>
      
    </ul>
   </li>
   <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-info"></i>
      <span class="font-bold">Сотрудники</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Все сотрудники</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.staff.list">Сотрудники</a>
      </li>
     <!--  <li ui-sref-active="active">
        <a ui-sref="manager.staff.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить нового</span>
        </a>
      </li> -->
      <li ui-sref-active="active">
        <a ui-sref="manager.staff.users_list">Пользователи</a>
      </li>
    </ul>
  </li>
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-cubes icon text-info"></i>
      <span class="font-bold ptsans">Сырье в складах</span>
    </a>
   <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager.raw_limit.list">Сырье в складах</a>
      </li>
      
    </ul>
   </li>
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-database icon text-info"></i>
      <span class="font-bold ptsans">Баланс</span>
    </a>
   <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager.balance.list">Общий баланс</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.balance.bycategory">По категориям</a>
      </li>
    </ul>
   <li>
   <!-- <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tint icon text-info"></i>
      <span class="font-bold ptsans">Баланс по категориям</span>
    </a>
   <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager.balance_category.list">Баланс по категориям</a>
      </li>
      
    </ul>
   <li> -->
  
  
</ul>
<!-- / list -->
