<!-- list -->
<div id="aside-user" class="clearfix hidden-xs text-center hide">
      <div dropdown="" class="dropdown wrapper">
        <a ui-sref="profile" href="profile">
          <span class="thumb-lg w-auto-folded avatar m-t-sm">
            <img alt="..." class="img-full" src="../../assets/img/a0.jpg">
          </span>
        </a>
        <a dropdown-toggle="" class="dropdown-toggle hidden-folded" href="" aria-haspopup="true" aria-expanded="false">
          <span class="clear">
            <span class="block m-t-sm">
              <strong class="font-bold text-lt">{{userInfo.name}} {{userInfo.surname}}</strong> 
              <b class="caret"></b>
            </span>
            <span class="text-muted text-xs block">{{userInfo.position.name}}</span>
          </span>
        </a>
        <!-- dropdown -->
        <!-- <ul class="dropdown-menu animated fadeInRight w hidden-folded">
          <li>
            <a href="">Settings</a>
          </li>
          <li>
            <a ui-sref="app.page.profile" href="#/app/page/profile">Profile</a>
          </li>
          <li>
            <a href="">
              <span class="badge bg-danger pull-right">3</span>
              Notifications
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ui-sref="access.signin" href="#/access/signin">Logout</a>
          </li>
        </ul> -->
        <!-- / dropdown -->
      </div>
      <div class="line dk hidden-folded"></div>
    </div>
    
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"></li>
  

   
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-retweet icon text-info"></i>
      <span class="font-bold ptsans">Напоминание о доставках</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Напоминание о доставках</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.reminder_19.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.reminder_19.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить</span>
        </a>
      </li>
    </ul>
  </li>
 
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-info"></i>
      <span class="font-bold">Клиенты</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.client.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.client.add">Добавить</a>
      </li>
      
    </ul>
  </li>
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-list icon text-info"></i>
      <span class="font-bold"> Договор</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.agreement.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.agreement.add">Добавить</a>
      </li>
     <!--  <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.agreement.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li> -->
    </ul>
  </li>
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-truck icon text-info"></i>
      <span class="font-bold">Доставка</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Сырье</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.delivery.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.delivery.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить</span>
        </a>
      </li>
    </ul>
  </li>
  
  <!-- <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-retweet icon text-info"></i>
      <span class="font-bold ptsans">Период Доставки</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Продукция</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.list">Список продукций</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li> -->
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-cube icon text-info"></i>
      <span class="font-bold">Утерянные бутылки</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Утерянные бутылки</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.lost_bottle.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager_for_bottle.lost_bottle.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить</span>
        </a>
      </li>
    </ul>
  </li>
  
     
  <li class="line dk"></li>

  <!-- <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >русский тест</span>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <b class="badge bg-info pull-right">3</b>
      <i class="glyphicon glyphicon-th"></i>
      <span>grouping</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>grouping</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.app">
          <span>group</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.fullwidth">
          <span>group 2</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.mobile">
          <span>group 3</span>
        </a>
      </li>      
    </ul>
  </li> -->
</ul>
<!-- / list -->
