/*   #selected_product_panel, .aside-wrap, #product_list_panel, #nav_bar, #places, #print_btn, #approve_btn{
	display:none;
}

#nakl > tbody > tr > th, #nakl > tbody > tr, #nakl > tbody > tr > td {
    border: 1px solid green !important;
}

#print_table{
	margin-left: -200px;
}
#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl>tbody>tr>th, #nakl>tbody>tr>td, td{
	border: 1px solid green !important;
}
#naklHead{
	border: 1px solid green !important;
}   */
#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl>tbody>tr>th, #nakl>tbody>tr>td{
	border: 1px solid green !important;
}
#naklHead, td{
	border: 1px solid green !important;
}