<div ng-controller="AddDistributionCtrl" ng-init="init()">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<form class="form-inline" ng-submit="saveSendList()">
		
	<div class="col-lg-12">
		<div class="bg-default lter b-b col-lg-5 panel-heading">
			<h1 class="m-n font-thin h3">Совершить Транспортировку</h1>
		</div>
		<div class="col-lg-7">
  				<div class="col-lg-12 panel-heading">
			         <div class="form-group">
			           <div class="col-sm-10">
			            <div class="input-group w-md">
			              <input type="text" class="form-control" value="{{date |  date:'dd-MM-yyyy'}}"disabled is-open="closed" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </div>
			          </div>
			        </div>
			        <div class="form-group">
			         <select ng-model="staffId" name="staff" class="form-control" >
			         	<option value="-1">Торговый агент</option>
		                <option ng-repeat="distributor in staff" value="{{distributor.staff.id}}">
		                {{distributor.staff.name}} {{distributor.staff.surname}}
		                </option>
		              </select> 
   					</div>
				</div>
		</div>
	</div>
		<div style="clear:both"></div>
		<div class="progress progress-xs m-b-none dker ">
            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<div class="panel panel-info" draggable="true">
					<div class="panel-heading"> Список Продукции 
						<div style="float:right	">
							<label class="i-switch bg-info m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 ">
					<h4>
						<div class="btn-group" dropdown="" is-open="status.isopen">
			            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
			              <i class="fa fa-eye"></i>
			              Показать колонки <span class="caret"></span>
			            </button>
			            <ul class="dropdown-menu" role="menu">
			              <li><span style="padding: 5px 15px;">
				              <label class="i-checks">
				                <input type="checkbox" ng-model="showName" checked>
				                <i></i>
				                Название
				              </label>
				              </span>
			              </li>
			              <li><span style="padding: 5px 15px;">
				              <label class="i-checks">
					              <input type="checkbox" ng-model="showType" checked>
					              <i></i>
					              Тип
				              </label>
				              </span>
			              </li>
			              <li><span style="padding: 5px 15px;">
				              <label class="i-checks">
					              <input type="checkbox" ng-model="showCategory" checked>
					              <i></i>
					              Категория
				              </label>
				              </span>
			              </li>
			              <li><span style="padding: 5px 15px;">
				              <label class="i-checks">
					              <input type="checkbox" ng-model="showCapacity" checked>
					              <i></i>
					              Объем
				              </label>
				              </span>
			              </li>
			              <li><span style="padding: 5px 15px;">
				              <label class="i-checks">
					              <input type="checkbox" ng-model="showFizzy" checked>
					              <i></i>
					              Газированный
				              </label>
				              </span>
			              </li>
			              <li><span style="padding: 5px 15px;">
				              <label class="i-checks">
					              <input type="checkbox" ng-model="showPrice" checked>
					              <i></i>
					              Стоимость
				              </label>
				              </span>
			              </li>
			            </ul>
			        </div>
					</h4>
		  				<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
		                    <tr ng-repeat="result in $data" ng-class="{odd: $odd, even: $even}">
		                    	<td data-title="'#'">{{$index + 1}}.</td>
		                      <td ng-show="showName" data-title="'Название'" sortable="'product.name'" filter="{ 'product.name': 'text' }">{{result.product.name}}</td>
		                      <td ng-show="showType" data-title="'Тип'" sortable="'product.productType.name'" filter="{ 'product.productType.name': 'text' }">{{result.product.productType.name}}</td>
		                      <td ng-show="showCategory" data-title="'Категория'" sortable="'product.productType.productCategory.name'" filter="{ 'product.productType.productCategory.name': 'text' }">{{result.product.productType.productCategory.name}}</td>
		                      <td ng-show="showCapacity" data-title="'Объем'" sortable="'product.capacity.capacity'" filter="{ 'product.capacity.capacity': 'text' }">{{result.product.capacity.capacity}}</td>
		                      <td ng-show="showFizzy" data-title="'Газир.'" sortable="'product.productType.fizzy'" filter="{ 'product.productType.fizzy': 'text' }"><div class="checkbox">
					              <label class="i-checks i-checks-sm"><input type="checkbox" name="a" ng-model="result.product.productType.fizzy" disabled><i></i></label></div></td>
		                      <td ng-show="showPrice" data-title="'Стоимость'" sortable="'product.price'" filter="{ 'product.price': 'text' }">{{result.product.price}} сом</td>
		                      <td data-title="'Количество на складе'" sortable="'amount'" filter="{ 'amount': 'text' }">{{result.amount}} </td>
		                      <td data-title="'Разница в цене'" ><input style="width:100px" type="number" ng-model="sendProduct.cost" /></td>
		                      <td data-title="'Количество отправки'" ><input style="width:100px" type="number" ng-model="sendProduct.amount" /></td>
		                      <td ><button class="btn m-b-xs w-xs btn-info btn-rounded button_{{result.product.id}}" type="button" ng-click="addToSendList(result.product.id,sendProduct.amount,sendProduct.cost)" >Добавить</button></td>
		                    </tr>
		                </table>
		            </div>
 		 		</div> 
 		 		<!-- <div class="row">
					<div class="col-sm-12">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" type="button" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
					</div>
				</div> --> 
 		 		<div class="panel panel-success" draggable="true" id="print">
					<div class="panel-heading"> Список Выбранных Продукций
						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2">
		  				<table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>Название</th>
                          	<th>Тип</th>
                          	<th>Категория</th>
                          	<th>Объем</th>
                          	<th>Газир.</th>
                          	<th>Количество</th>
                          	<th>Себестоимость</th>
                          	<th>Разница в цене</th>
                          	<th>Итого</th>
                          </tr>
                          <tr ng-repeat="product in sendProducts" value="{{product.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{product.name}}</td>
                            <td >{{product.productType.name}}</td>
                            <td >{{product.productType.productCategory.name}}</td>
                            <td >{{product.capacity.capacity}}</td>
                            <td ><div class="checkbox"><label class="i-checks i-checks-sm">
                            	<input type="checkbox" name="a" ng-model="product.productType.fizzy" disabled><i></i></label></div></td>
                            </td>
                            <td >{{product.amount}}</td>
                            <td>{{product.unitPrice}} сом</td>
                            <td>{{product.changeInPrice}} сом</td>
                            <td>{{product.amount*(product.unitPrice+product.changeInPrice)}} сом</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a ng-click="cancelProduct(product.id)" data-toggle="modal" tooltip="Delete" data-placement="top"> <i class="icon-trash"></i></a> 
                                	<a href="javascript:void(0)" onclick="deleteType(type.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<div class="row">
						 		<lable style="margin-left:15px"><b>Общая сумма:{{totalPrice}} сом</b></lable>
						 	</div>
						 	<textarea placeholder="Описание" style="width:75%; height:40px" ng-model="description"></textarea>
						 	<button style="float:right" class="btn m-b-xs w-xs btn-success btn-rounded tableSubmit" type="submit">Отправить</button>
		            	</div>
		            </div>
 		 		</div>
			  </div>
		   	</form>	
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>