<div ng-controller="ListDistributionCtrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">		
			<div class="col-lg-12">
				<div class="bg-default lter b-b col-lg-5 panel-heading">
					<h1 class="m-n font-thin h3">Список </h1>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="progress progress-xs m-b-none dker ">
            	<div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        	</div>
  			<div class="panel-body">
  				<div class="panel panel-info" draggable="true">
					<div class="panel-heading"> Дистрибьюторы 
						<div style="float:right	">
							<label class="i-switch bg-info m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 "> 
		  				<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
		                    <tr ng-repeat="shipping in $data" ng-class="{odd: $odd, even: $even}">
		                    	<td data-title="'#'">{{$index + 1}}.</td>
		                      <td data-title="'Дата запроса'" sortable="'create'">{{shipping.created | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Дата подтверждения'" sortable="'approvedAdmin'">{{shipping.approvedAdmin | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Дата выдачи'" sortable="'sentDate'">{{shipping.sentDate | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Статус'" sortable="'wareDistStatus.name'" filter="{ 'wareDistStatus.name': 'text' }" style="text-align:center"><span class="pull-right label inline m-t-sm shippingStatus_{{shipping.wareDistStatus.id}}">{{shipping.wareDistStatus.name | uppercase}}</span></td>
		                      <td data-title="'Пункт Выдачи'" sortable="'placeByFromPlaceId.name'" filter="{ 'placeByFromPlaceId.name': 'text' }">{{shipping.placeByFromPlaceId.name}}</td>
		                      <td data-title="'Дистрибьютор'" sortable="'staff.name'" filter="{ 'staff.name': 'text' }">{{shipping.staff.name}} {{shipping.staff.surname}}</td>
		                      <td data-title="'Описание'" sortable="'description'" filter="{ 'description': 'text' }">{{shipping.description}}</td>
		                      <td ><a ng-click="showShippingDetails(shipping.id)" class="btn btn-sm btn-icon btn-info"><i class="fa fa-list-alt"></i></a></td>
		                    </tr>
		                </table>
		            </div>
 		 		</div>
 		 		 <div class="row">
					<div class="col-sm-12">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
					</div>
				</div>
 		 		<div class="panel panel-success" draggable="true" id="print">
					<div class="panel-heading"><b>Дата запроса:</b>  {{shippingInfo.created | date:"dd-MM-yyyy"}} || <b>Пункт Выдачи: </b>{{shippingInfo.placeByFromPlaceId.name}}|| <b>Торговый агент:</b> {{shippingInfo.staff.name}} {{shippingInfo.staff.surname}} || <span class="label inline m-t-sm shippingStatus_{{shippingInfo.shippingStatus.id}}">{{shippingInfo.shippingStatus.name | uppercase}}</span>
						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2">
		  				<table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th style="border: 1px solid green !important;">Название</th>
                          	<th style="border: 1px solid green !important;">Тип</th>
                          	<th style="border: 1px solid green !important;">Категория</th>
                          	<th style="border: 1px solid green !important;">Объем</th>
                          	<th style="border: 1px solid green !important;">Газир.</th>
                          	<th style="border: 1px solid green !important;">Количество</th>
                          	<th style="border: 1px solid green !important;">Себестоимость</th>
                          	<th style="border: 1px solid green !important;">Разница в цене</th>
                          	<th style="border: 1px solid green !important;">Итого</th>
                         </tr>
                          <tr ng-repeat="product in shippingProducts" value="{{product.id}}" ng-class="{odd: $odd, even: $even}">
                            <td style="border: 1px solid green !important;">{{product.product.name}}</td>
                            <td style="border: 1px solid green !important;">{{product.product.productType.name}}</td>
                            <td style="border: 1px solid green !important;">{{product.product.productType.productCategory.name}}</td>
                            <td style="border: 1px solid green !important;">{{product.product.capacity.capacity}}</td>
                            <td style="border: 1px solid green !important;"><div class="checkbox"><label class="i-checks i-checks-sm">
                            	<input type="checkbox" name="a" ng-model="product.product.productType.fizzy" disabled><i></i></label></div></td>
                            <td style="border: 1px solid green !important;">{{product.amount}}</td>
                            <td style="border: 1px solid green !important;">{{product.unitPrice}} coм</td>
                            <td style="border: 1px solid green !important;">{{product.changeInPrice}} сом</td>
                            <td style="border: 1px solid green !important;">{{product.amount*(product.unitPrice+product.changeInPrice)}} сом</td>
                           </tr>
						 </table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 <div class="raw">
						 	<lable style="margin-left:15px"><b>Общая Цена:</b>{{totalPrice}}</lable>
						 </div> 
						 	<textarea value="{{product.shipping.description}}"  style="width:75%; height:40px" ng-model="shippingInfo.description"></textarea>
						  	<button class="btn m-b-xs w-xs btn-danger btn-rounded button_{{shippingInfo.id}} " id="button_cancel" style="margin-bottom:21px;" type="button" ng-click="shippingCancel(shippingInfo.id, shippingInfo.description)" >Отменить</button>	
						 	<button class="btn m-b-xs w-xs btn-success btn-rounded button_{{shippingInfo.id}} " id="button_approve" style="margin-bottom:21px;" type="button" ng-click="shippingApprove(shippingInfo.id)" >Отправить</button>		                    
						 </div>
		            </div>
 		 		</div>
			  </div>
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>