<div ng-controller="DeliveryCompleteCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<form ng-submit="complete()" class="bs-example form-horizontal ng-pristine ng-valid" ">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
				        <div class="panel-heading font-bold">Доставка</div>
				        <div class="panel-body">
							<div class="form-group">
					          <label class="col-lg-5 control-label">Торговый агент 19: </label>
					            <div class="col-lg-7"> 
					              {{delivery.agent.name}} {{delivery.agent.surname}}
					            </div>
					          </div>
				            
				            <div class="form-group">
					          <label class="col-lg-5 control-label">Дата: </label>
					            <div class="col-lg-7">
					            	<p class="input-group mydatepicker">
										<span>{{delivery.plannedDate | date: "dd-MM-yy"}}</span>
								  	</p>
								</div>
					          </div>
				        </div>
				      </div>

				     
				    </div>
				    <!-- <div class="col-sm-6">
				     <div class="panel panel-default">
				        <div class="panel-heading font-bold">Доставка</div>
				        <div class="panel-body">
							<div class="form-group">
					          <label class="col-lg-3 control-label">Договор</label>
					            <div class="col-lg-6"> 
					              <select ng-model="deliveryClient.agreement" class="form-control" select>
					              	<option value="">Выберите...</option>
					                <option ng-repeat="agreement in agreements" ng-value="agreement">{{agreement.client.name}} {{agreement.client.surname}} </option>
					                
					              </select>  
					              <select class="form-control" ng-options="agreement as agreement.client.name + ' ' + agreement.client.surname  for agreement in agreements" ng-model="deliveryClient.agreement">
					              	<option value="">Выберите...</option>
								  </select>
					            </div>
					          </div>
				            
				            <div class="form-group">
								<label class="col-lg-3 control-label">Количество </label>
					            <div class="col-lg-6">
									 <input ng-model="deliveryClient.amount" type="number" min="1" class="form-control" placeholder='Введите количество' name="number"  />
					            </div>
					        </div>
					        <a style="margin-left: 80px" ng-click="addDeliveryClient()" class="btn btn-info">Add</a>
				             
				        </div>
				      </div>
				    </div> -->
				    <div class="clear" style="clear: left"></div>
				    <div class="panel panel-success" style="width:100%;">
						<div id="naklHead" class="panel-heading"><b>Дата:</b>  {{delivery.plannedDate | date:"dd-MM-yyyy"}} || Cтатус: <span class="label inline m-t-sm my-delivery-status-{{delivery.deliveryStatus.id}}">{{delivery.deliveryStatus.name | uppercase}}</span>
							<div style="float:right	">
								<label class="i-switch bg-success m-t-xs m-r">
					              	<input type="checkbox" ng-click="toggleTable(2)">
					              <i></i>
					            </label>
				            </div>
			            </div>
						<div class="toggle_2">
			  				<table id="nakl" style="border-spacing: 0px; border:1px solid green; width:100%" class="table table-striped m-b-none dataTable" show-filter="false">
	                          <tr>
	                          	<th style="width: 20%; border: 1px solid green !important;">Номер договора</th>
	                          	<th style="width: 20%; border: 1px solid green !important;" >Имя</th>
	                          	<th style="width: 12%; border: 1px solid green !important;">Количество</th>
	                          	<th style="width: 12%; border: 1px solid green !important;">Возвращено</th>
	                          	<th style="width: 12%; border: 1px solid green !important;">Возвращено тар</th>
	                          	<th style="width: 12%; border: 1px solid green !important;">Залог за тар</th>
	                          	<th style="width: 12%; border: 1px solid green !important;">Сумма оплаты</th>
	                          </tr>
	                          <tr ng-repeat="dc in delivery.deliveryClients" ng-class="{odd: $odd, even: $even}">
	                            <td style="border: 1px solid green !important;">{{dc.agreement.agreementNumber}}</td>
	                            <td style="border: 1px solid green !important;">{{dc.agreement.client.name}}</td>
	                            <td style="border: 1px solid green !important;">{{dc.amount}}</td>
	                            <td style="border: 1px solid green !important;">
	                            	<input type="text" ng-model="delivery.deliveryClients[$index].returned"/>
	                            </td>
	                            <td style="border: 1px solid green !important;">
	                            	<input type="text" ng-model="delivery.deliveryClients[$index].returnedEmpty"/>
	                            </td>
	                            <td style="border: 1px solid green !important;">
	                            	<input type="text" ng-model="delivery.deliveryClients[$index].pledgeNumberForBottle"/>
	                            </td>
	                            <td style="border: 1px solid green !important;">
	                            	<input type="text" ng-model="delivery.deliveryClients[$index].paid"/>
	                            </td>
							  </tr>
							</table>
							 
							 <div class="line line-dashed b-b line-lg pull-in"></div>
							 <div class="co-lg-7">
							 	<button class="btn m-b-xs btn-success btn-rounded " id="button_approve" style="margin-left: 50px; margin-bottom:21px;" type="submit">Завершить Доставку</button>		                    
							 	<a class="btn m-b-xs btn-danger btn-rounded " id="button_cancel" style="margin-bottom:21px;" ng-click="$state.go('manager_for_bottle.delivery.list')" >Отменить</a>	
							 </div>
			            </div>
		           </div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>