
<div ng-controller="DeliveryListCtrl" ng-init="init()">
<!-- content -->
<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-lg-12 pull-left">
						
						 <div class="col-lg-3 pull-left" >
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li ng-repeat="(key, value) in displayTableRow"><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="displayTableRow[key].show" ><i></i>{{value.name}}
						              </label>
						              </span>
						          </li>
					            </ul>
					        </div>
						</div> 
						<button style="margin-left: -50px" class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div> 
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="delivery in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="displayTableRow.agent.show" data-title="'Агент'" sortable="'name'" filter="{ 'agent.name': 'text' }" >{{delivery.agent.name+" "+delivery.agent.surname}} </td>
	                            <td ng-show="displayTableRow.plannedDate.show" data-title="'Дата Планировки'" sortable="'plannedDate'" style="text-align:center;">{{delivery.plannedDate | date: 'dd-MM-yyyy'}}</td>
	                            <td ng-show="displayTableRow.sentDate.show" data-title="'Дата Отправки'" sortable="'sentDate'"  style="text-align:center;">{{delivery.sentDate | date: 'dd-MM-yyyy'}}</td>
	                            <td ng-show="displayTableRow.completedDate.show"data-title="'Дата Завершении'" sortable="'completedDate'" style="text-align:center;">{{delivery.completedDate | date: 'dd-MM-yyyy'}}</td>
	                            <td ng-show="displayTableRow.deliveryStatus.show"data-title="'Статус'" sortable="'deliveryStatus'" filter="{ 'deliveryStatus.name': 'text' }" style="text-align:center;">
	                            	<span class="pull-right label inline m-t-sm my-delivery-status-{{delivery.deliveryStatus.id}}">{{delivery.deliveryStatus.name}}</span></td>
	                          	<td data-title="' Опции '" style="text-align:center;min-width: 160px">
   		                            <a ng-if="delivery.deliveryStatus.id != deliveryStatusCompletedId" class="pull-right btn btn-sm btn-icon btn-primary" ui-sref="manager_for_bottle.delivery.view({ id: delivery.id })" tooltip="Показать"><i class="glyphicon glyphicon-list-alt"></i></a>
	                            	<a class="pull-right btn btn-sm btn-icon btn-danger" ng-click="deleteDelivery(delivery.id )" tooltip="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
	                          		<a ng-if="delivery.deliveryStatus.id != deliveryStatusCompletedId" class="pull-right btn btn-sm btn-icon btn-warning" ui-sref="manager_for_bottle.delivery.edit({ id: delivery.id })" tooltip="Изменить"><i class="fa fa-pencil"></i></a>
	                          		<a ng-if="delivery.deliveryStatus.id != deliveryStatusCompletedId" class="pull-right btn btn-sm btn-icon btn-info" ui-sref="manager_for_bottle.delivery.send({ id: delivery.id })" tooltip="Отправить"><i class="fa fa-truck"></i></a>
	                          		<a ng-if="delivery.deliveryStatus.id == deliveryStatusSentId" class="pull-right btn btn-sm btn-icon btn-success" ui-sref="manager_for_bottle.delivery.complete({ id: delivery.id })" tooltip="Завершить"><i class="fa fa-check-square-o"></i></a>
	                            </td>
	                          </tr>
	                      </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>