<div ng-controller="DeliverySendCtrl" ng-init="init()">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<form ng-submit="send()" class="bs-example form-horizontal ng-pristine ng-valid" ">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
				        <div class="panel-heading font-bold">Доставка</div>
				        <div class="panel-body">
							<div class="form-group">
					          <label class="col-lg-3 control-label">Торговый агент 19</label>
					            <div class="col-lg-6"> 
					              <select ng-model="delivery.agent.id" class="form-control" ng-required="true">
					              	<option value="">Выберите...</option>
					                <option ng-repeat="staffPosition in staffPositions" ng-selected="staffPosition.staff.id == delivery.agent.id" value="{{staffPosition.staff.id}}">{{staffPosition.staff.name}} {{staffPosition.staff.surname}} </option>
					              </select>  
					            </div>
					          </div>
				            
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Дата</label>
					            <div class="col-lg-6">
					            	<p class="input-group mydatepicker">
										<input ng-model="delivery.plannedDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
								    	<span class="input-group-btn">
								      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								    	</span>
								  	</p>
								</div>
					          </div>
				        </div>
				      </div>

				     
				    </div>
				    <div class="col-sm-6">
				     <div class="panel panel-default">
				        <div class="panel-heading font-bold">Доставка</div>
				        <div class="panel-body">
							<div class="form-group">
					          <label class="col-lg-3 control-label">Договор</label>
					            <div class="col-lg-6"> 
<!-- 					              <select ng-model="deliveryClient.agreement" class="form-control" select> -->
<!-- 					              	<option value="">Выберите...</option> -->
<!-- 					                <option ng-repeat="agreement in agreements" ng-value="agreement">{{agreement.client.name}} {{agreement.client.surname}} </option> -->
					                
<!-- 					              </select>   -->
					              <select class="form-control" ng-options="agreement as agreement.client.name for agreement in agreements" ng-model="deliveryClient.agreement">
					              	<option value="">Выберите...</option>
								  </select>
					            </div>
					          </div>
				            
				            <div class="form-group">
								<label class="col-lg-3 control-label">Количество </label>
					            <div class="col-lg-6">
									 <input ng-model="deliveryClient.amount" type="number" min="1" class="form-control" placeholder='Введите количество' name="number"  />
					            </div>
					        </div>
					        
					        <a style="margin-left: 150px" ng-click="addDeliveryClient()" class="btn btn-info">Добавить</a>
				             
				        </div>
				      </div>
				    </div>
				    
				    <div class="col-lg-12 pull-left">
						
						<!-- <button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button> -->
					</div> 
				    <div class="row">
					<div class="col-sm-2 pull-right">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
					</div>
					</div>
				    <div class="clear" style="clear: left"></div>
				    <div class="panel panel-success" style="width:100%;" id="print">
						<div id="naklHead" class="panel-heading"><b>Дата:</b>  {{delivery.plannedDate | date:"dd-MM-yyyy"}} || Cтатус: <span class="label inline m-t-sm my-delivery-status-{{delivery.deliveryStatus.id}}">{{delivery.deliveryStatus.name | uppercase}}</span>
							<div style="float:right	">
								<label class="i-switch bg-success m-t-xs m-r">
					              	<input type="checkbox" ng-click="toggleTable(2)">
					              <i></i>
					            </label>
				            </div>
			            </div>
			            
						<div class="toggle_2">
			  				<table id="nakl" style="border-spacing: 0px; border:1px solid green; width:100%" class="table table-striped m-b-none dataTable" show-filter="false">
	                          <tr>
	                          	<th style="width: 3%; border: 1px solid green !important;">#</th>
	                          	
	                          	<th style="width: 8%; border: 1px solid green !important;">Имя</th>
	                          	<th style="width: 8%; border: 1px solid green !important;">Марка диспенсера</th>
	                          	<th style="width: 10%; border: 1px solid green !important;">Адрес доставки</th>
	                          	<th style="width: 8%; border: 1px solid green !important;">Телефон</th>
	                          	<th style="width: 8%; border: 1px solid green !important;">Количество</th>
	                          	
	                          	
	                          	<th style="width: 8%; border: 1px solid green !important;">Возвращено</th>
	                          	<th style="width: 8%; border: 1px solid green !important;">Возвращено тар</th>
	                          	<th style="width: 8%; border: 1px solid green !important;">Залог за тару</th>
	                          	
	                          	<!-- <th ng-show="showMin" style="width: 22%; border: 1px solid green !important;">Мин количество в месяц</th> -->
	                          	
	                         	<th style="width: 10%; border: 1px solid green !important;">Сумма</th>
	                          	<th style="width: 10%; border: 1px solid green !important;">Подпись</th>
	                          	<th style="width: 15%; border: 1px solid green !important;">Примечание</th>
	                          	
	                          	<th style="width: 5%; border: 1px solid green !important;">Опции</th>
	                          </tr>
	                          <tr ng-repeat="dc in delivery.deliveryClients" ng-class="{odd: $odd, even: $even}">
								
								<td data-title="'#'" style="border: 1px solid green !important;">{{$index + 1}}.</td>
	                          	
	                          	<td style="border: 1px solid green !important;">{{dc.agreement.client.name}}</td><!-- +" "+dc.agreement.client.surname -->
	                            <td style="border: 1px solid green !important;">{{dc.agreement.dispanserDescription}}</td>
	                            <td style="border: 1px solid green !important;">{{}}</td>
	                            <td style="border: 1px solid green !important;">{{dc.agreement.client.phone}}</td>
	                            <td style="border: 1px solid green !important;" value="{{delivery.deliveryClients[$index].amount}}"><!-- Количество -->
										<input type="text" class="form-control" ng-model="delivery.deliveryClients[$index].amount" value="{{delivery.deliveryClients[$index].amount}}"/>
								</td>
	                            <td style="border: 1px solid green !important;" value="{{delivery.deliveryClients[$index].returned}}"><!-- Возврещение -->
	                            		<input type="text" class="form-control" ng-model="delivery.deliveryClients[$index].returned" value="{{delivery.deliveryClients[$index].returned}}"/>
	                            </td>
	                            <td style="border: 1px solid green !important;" value="{{delivery.deliveryClients[$index].returnedEmpty}}"><!-- Возвращение тар -->
										<input type="text" class="form-control" ng-model="delivery.deliveryClients[$index].returnedEmpty" value="{{delivery.deliveryClients[$index].returnedEmpty}}"/>
								</td>
	                            <td style="border: 1px solid green !important;"><!-- Залог за тару -->
	                            		 <input class="form-control" ng-model="agreement.pledgeFee" type="text"/>	
	                            </td>
	                            <td style="border: 1px solid green !important;" value="{{delivery.deliveryClients[$index].paid}}">
	                            		<input class="form-control" type="text" ng-model="delivery.deliveryClients[$index].paid" value="{{delivery.deliveryClients[$index].paid}}"/>
	                            </td>
	                            <td style="width: 10%; border: 1px solid green !important;">_______________</td>
	                            <td style="width: 10%; border: 1px solid green !important;">
									<input type="text"class="form-control" ng-model="dc.agreement.dispanserDescription" value="{{dc.agreement.dispanserDescription}}"/>
								</td>
	                            
	                            <td style="border: 1px solid green !important;">
	                            	<a href="javascript:void(0)" ng-click="removeDeliveryClient(dc.agreement.id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td>
							  </tr>
							</table>
						<!-- 	<div class="row">
							<div class="col-sm-4">
								<h4>Агент:<span>{{delivery.agent.name}}</span></h4>
								<h5>Подпись: ___________________</h5>
							</div>
							
							<div class="col-sm-4 pull-right" ng-repeat="dc in delivery.deliveryClients">
								<h4>Клиент:<span>{{dc.agreement.client.name}}</span></h4>
								<h5>Подпись: ___________________</h5>
							</div>
							 </div> -->
							 <div class="line line-dashed b-b line-lg pull-in"></div>
							 <div class="co-lg-7">
							 	<button class="btn m-b-xs btn-success btn-rounded " id="button_approve" style="margin-left: 50px; margin-bottom:21px;" type="submit">Отправить Доставку</button>		                    
							 	<a class="btn m-b-xs btn-danger btn-rounded " id="button_cancel" style="margin-bottom:21px;" ng-click="$state.go('manager_for_bottle.delivery.list')" >Отменить</a>	
							 </div>
			            </div>
		           </div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>