<div ng-controller="PartnerAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Добавить нового партнера</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				          	
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Имя</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="partner.name">
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Фамилия</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="partner.surname">
				              </div>
				            </div>
				            
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Телефон</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="partner.phone">
				              </div>
				            </div>
				           
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Касса</label>
					            <div class="col-lg-6"> 
					              <select ng-model="partner.cashbox.id" class="form-control" select>
					              	<option value="">Выберите...</option>
					                <option ng-repeat="cashbox in cashboxes" ng-value="cashbox.id">{{cashbox.name}}</option>
					              </select>  
					            </div>
					          </div>
				          
				            <div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>