<div ng-controller="ListRawRequestCtrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">		
			<div class="col-lg-12">
				<div class="bg-default lter b-b col-lg-5 panel-heading">
					<h1 class="m-n font-thin h3">Список Запросов Сырья</h1>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="progress progress-xs m-b-none dker ">
            	<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        	</div>
  			<div class="panel-body">
  				<div class="panel panel-warning" draggable="true">
					<div class="panel-heading"> Запрос Сырья 
						<div style="float:right	">
							<label class="i-switch bg-warning m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 ">
		  				<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
		                    <tr ng-repeat="shipping in $data" ng-class="{odd: $odd, even: $even}">
		                    	<td data-title="'#'">{{$index + 1}}.</td>
		                      <td data-title="'Дата'" sortable="'date'">{{shipping.date | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Статус'" sortable="'shippingStatus.name'" filter="{ 'shippingStatus.name': 'text' }"><span class="pull-right label inline m-t-sm shippingStatus_{{shipping.shippingStatus.id}}">{{shipping.shippingStatus.name | uppercase}}</span></td>
		                      <td data-title="'Пункт Назначения'" sortable="'placeByToPlaceId.name'" filter="{ 'placeByToPlaceId.name': 'text' }">{{shipping.placeByToPlaceId.name}}</td>
		                       <td data-title="'Пункт Запросa'" sortable="'placeByFromPlaceId.name'" filter="{ 'placeByFromPlaceId.name': 'text' }">{{shipping.placeByFromPlaceId.name}}</td>
		                      <td data-title="'Описание'" sortable="'description'" filter="{ 'description': 'text' }">{{shipping.description}}</td>
		                      <td ><a ng-click="showShippingDetails(shipping.id)"><i class="fa fa-list-alt"></i></a></td>
		                    </tr>
		                </table>
		            </div>
 		 		</div>
 		 		<div class="panel panel-success" draggable="true">
					<div class="panel-heading"><b>Дата:</b>  {{shippingInfo.date | date:"dd-MM-yyyy"}} || <b>Пункт Назначения:</b> {{shippingInfo.placeByToPlaceId.name}} || <span class="label inline m-t-sm shippingStatus_{{shippingInfo.shippingStatus.id}}">{{shippingInfo.shippingStatus.name | uppercase}}</span>
						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2">
		  				<table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>Название</th>
                          	<th>Единица измерения</th>
                          	<th>Количество</th>
                          </tr>
                          <tr ng-repeat="raw in shippingRaws" value="{{raw.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{raw.raw.name}}</td>
                            <td >{{raw.raw.unit.name}}</td>
                            <td >{{raw.amount}}</td>
                           <!-- <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a ng-click="cancelRaw(product.id)" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-trash"></i></a> 
                                	<a href="javascript:void(0)" onclick="deleteType(type.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td> --> 
						  </tr>
						</table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<textarea value="{{product.shipping.description}}" disabled style="width:89%; height:40px" ng-model="shippingInfo.description"></textarea>
						 	<button class="btn m-b-xs w-xs btn-danger btn-rounded button_{{shippingInfo.id}} " id="button_cancel" style="margin-bottom:21px;" type="button" ng-click="shippingCancel(shippingInfo.id)" >Отменить</button>	
						 	<button class="btn m-b-xs w-xs btn-success btn-rounded button_{{shippingInfo.id}} " id="button_approve" style="margin-bottom:21px;" type="button" ng-click="shippingApprove(shippingInfo.id)" >Подтвердить</button>		                    	                    
						 </div>
		            </div>
 		 		</div>
			  </div>
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>