<div ng-controller="BottleIngredientCtrl">
<div class="bg-light lter b-b wrapper-md ng-scope">
  <h2 class="m-n font-thin h3">19 Бутыль</h2>
</div>
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
						<table ng-table="tableParams" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="raw in $data" ng-class="{odd: $odd, even: $even}">
	                            <td data-title="'Сырье'" sortable="'name'" filter="{ 'name': 'text' }">{{raw.name}}</td>
	                            <td data-title="'Объем'" class="col-lg-2">
	                            	<input type="text" class="form-control input-sm" ng-model="amount">
	                            </td>
	                            <td data-title="'Опции'">
	                            	<button class="btn m-b-xs btn-sm btn-warning btn-addon" ng-click="add(raw, amount)"><i class="fa fa-plus"></i>Добавить</button>
	                            </td>
	                          </tr>
	                     </table>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
						<table class="table table-striped m-b-none dataTable">
							<tr>
								<th>Сырье</th>
								<th>Объем</th>
								<th>Операция</th>
							</tr>
	                        <tr ng-repeat="ingredient in ingredients" ng-class="{odd: $odd, even: $even}">
	                          <td data-title="'Сырье'" sortable="'name'" filter="{ 'name': 'text' }">{{ingredient.raw.name}}</td>
	                          <td data-title="'Объем'" class="col-lg-2">
	                          	<input type="text" class="form-control input-sm" ng-model="ingredient.amount">
	                          </td>
	                          <td data-title="'Опции'">
	                          	<button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="remove(ingredient.id)"><i class="fa fa-trash-o"></i>Удалить</button>
	                          </td>
	                        </tr>
	                     </table>
	                    
						</div>
						 <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk pull-right"></i><b>Сохранить</b></button>
						 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
