<div ng-controller="ProductEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Добавить новый продукт</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Название</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="product.name" value="product.name">
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Цена</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="product.price" value="product.price">
				              </div>
				            </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Тип продукта</label>
					            <div class="col-lg-6"> 
					              <select ng-model="product.productType.id" class="form-control" select>
					                <option ng-selected="product.productType.id == type.id"  ng-repeat="type in types" ng-value="type.id">{{type.name}}</option>
					              </select>  
					            </div>
					          </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Объем</label>
					            <div class="col-lg-6"> 
					              <select ng-model="product.capacity.id" class="form-control" select>
					              	<option value="">Выберите...</option>
					                <option ng-selected="product.capacity.id == capacity.id" ng-repeat="capacity in capacities" ng-value="capacity.id">{{capacity.name}}</option>
					              </select>  
					            </div>
					          </div>
				            
				          
				            <div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>