<!-- list -->
<ul id="nav_bar" class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Зав.Производства</span>
  </li>
  <li>
    <a class="auto">      
      <i class="fa fa-truck icon text-info"></i>
      <span class="font-bold">Производство</span>
    </a>
     <ul class="nav nav-sub dk">
      <li  ui-sref-active="active">
        <a ui-sref="production_manager.shipping.list">
        	<span>Список Запросов</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="production_manager.shipping.add">
          <b class="label bg-info pull-right">+</b>
          <span>Планирование</span>
        </a>
      </li>
    </ul>
   </li>
  <li>
    <a class="auto">      
      <i class="fa fa-truck icon text-info"></i>
      <span class="font-bold">Производство 19</span>
    </a>
     <ul class="nav nav-sub dk">
      <li  ui-sref-active="active">
        <a ui-sref="production_manager.shipping_19.list">
        	<span>Список Запросов</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="production_manager.shipping_19.add">
          <b class="label bg-info pull-right">+</b>
          <span>Планирование</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="production_manager.shipping_19.product">
          <span>Количество 19</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="production_manager.shipping_19.tar_request">
          <span>Запросить тар</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="production_manager.shipping_19.tar_request_list">
          <span>Список Запросов тар</span>
        </a>
      </li>
    </ul>
   </li>
   <li ui-sref-active="active">
    <a class="auto">      
      <i class="glyphicon  glyphicon-shopping-cart icon text-warning"></i>
      <span class="font-bold">Cырьe</span>
    </a>
    <ul class="nav nav-sub dk">
      <li  ui-sref-active="active">
        <a ui-sref="production_manager.raw_material_request.raw_materila_list">
        	<span>Количество сырья</span>
        </a>
      </li>
      <li  ui-sref-active="active">
        <a ui-sref="production_manager.raw_material_request.min_raw_materila_list">
        	<span>Минимальное количество сырья</span>
        </a>
      </li>
      <li  ui-sref-active="active">
        <a ui-sref="production_manager.raw_material_request.list">
        	<span>Список Запросов</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="production_manager.raw_material_request.add">
          <b class="label bg-info pull-right">+</b>
          <span>Запросить Сырье</span>
        </a>
      </li>
     <!-- <li ui-sref-active="active">
        <a ui-sref="production_manager.raw_material_request.productRawRequest">
          <b class="label bg-info pull-right">+</b>
          <span>Запросить Сырье по Продукции</span>
        </a>
      </li> --> 
    </ul>
   </li>
<!-- <li ui-sref-active="active">
    <a ui-sref="production_manager.defect.list" class="auto">      
      <i class="glyphicon glyphicon-link icon text-danger-dker"></i>
      <span class="font-bold">Дефект</span>
    </a>
   </li> -->   
   
</ul>
<!-- / list -->
