#selected_product_panel, .aside-wrap, #product_list_panel, #nav_bar, #places, #print_btn, #approve_btn{
	display:none;
}

table select{
	border: 0px solid #ccc;
	margin: -10px 1px 0px 1px;
	align: center;
	-moz-appearance: window;
    -webkit-appearance: none;
    padding-right: -10px;
}

#print_table{
	margin-left: -200px;/* 
}


Chat Conversation End
