.my-delivery-status-1 {
	color: #dcf2f8;
	background-color: #23b7e5;
}

.my-delivery-status-2 {
	color: #f4f3f9;
    background-color: #7266ba;
}

.my-delivery-status-3 {
	color: #c6efd0;
	background-color: #27c24c;
}