<div ng-controller="EditShipping19Ctrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<form class="form-inline" ng-submit="saveSendList()">
		
	<div class="col-lg-12">
		<div class="bg-default lter b-b col-lg-5 panel-heading">
			<h1 class="m-n font-thin h3">Совершить Транспортировку</h1>
		</div>
		<div class="col-lg-7">
  				<div class="col-lg-12 panel-heading">
			         <div class="form-group">
			           <div class="col-sm-10">
			            <div class="input-group w-md">
			              <input type="text" class="form-control" value="{{date |  date:'dd-MM-yyyy'}}"disabled is-open="closed" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </div>
			          </div>
			        </div>
			        <div class="form-group">
			         <select ng-model="placeByToPlaceId" name="productType" class="form-control" >
			         	<option value="-1">Пункт Назначения</option>
		                <option ng-repeat="place in places" ng-value="place.id" ng-selected="placeByToPlaceId2 == place.id">
		                {{place.name}}
		                </option>
		              </select> 
   					</div>
				</div>
		</div>
	</div>
		<div style="clear:both"></div>
		<div class="progress progress-xs m-b-none dker ">
            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<div class="panel panel-info" draggable="true">
					<div class="panel-heading"> Список Продукции 
						<div style="float:right	">
							<label class="i-switch bg-info m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 ">
						<table  class="table table-striped m-b-none dataTable" show-filter="true">
		  				   <tr>
                          	<th>Название</th>
                          	<th>Количество по плану</th>
                          	<th>Описание</th>
                          </tr>
                          <tr>
                          	<td>Хан Тенгри 19л</td>
                          	<td><input ng-model="shippingInfo.plannedAmount"/></td>
                          	<td><textarea step="any"  style="width:75%; height:40px" ng-model="shippingInfo.description"></textarea>
						 	</td>
                          </tr>
		                </table>
		            </div>
 		 		</div>
 		 		<div class="panel panel-success" draggable="true">
					<div class="panel-heading"> Список Выбранных Продукций
						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2">
		  				<table  class="table table-striped m-b-none dataTable" show-filter="true">
		  				   <tr>
                          	<th style="border: 1px solid green !important;">Название</th>
                          	<th style="border: 1px solid green !important;">Количество продукта</th>
                          </tr>
                          <tr>
                          	<td style="border: 1px solid green !important;">Хан Тенгри 19л</td>
                          	<td style="border: 1px solid green !important;">{{(shippingInfo.plannedAmount==null)? '0 шт.' : shippingInfo.plannedAmount+" шт."}}</td>
                          </tr>
		                </table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<textarea placeholder="Описание" style="width:89%; height:40px" ng-model="shippingInfo.description"></textarea>
						 	<button style="float:right" class="btn m-b-xs w-xs btn-success btn-rounded tableSubmit" type="submit">Отправить</button>
		            	</div>
		            </div>
 		 		</div>
			  </div>
		   	</form>	
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
