<style>
#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl>tbody>tr>th, #nakl>tbody>tr>td{
	border: 1px solid green !important;
}
#naklHead{
	border: 1px solid green !important;
}
</style>
<div ng-controller="DistributionListCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-12">
				      <div class="panel panel-default">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="production in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                           	<td data-title="'Дата'" sortable="'date'">{{production.date | date: 'dd-MM-yyyy'}}</td>
                              	<td data-title="'Ответственный'" sortable="'statusDate.approvedAdmin'">{{production.staff.name+ ' ' +production.staff.surname}}</td>
		                      	<td data-title="'Откуда'" sortable="'placeByFromPlaceId.name'">{{production.placeByFromPlaceId.name}}</td>
		                      	<td data-title="'Статус'" sortable="'status.name'" filter="{ 'status.name': 'text' }"><span class="pull-right label inline m-t-sm shippingStatus_{{production.status.id}}">{{production.status.name | uppercase}}</span></td>
	                            <td data-title="'Описание'" sortable="'description'" filter="{ 'description': 'text' }">{{production.description}}</td>
		                      	<td data-title="'Опции'" class="text-center" width="150">
	                            	<a class="btn btn-sm btn-icon btn-success" ng-click="approveproduction(production.id )" tooltip="Потвердить"><i class="glyphicon glyphicon-ok"></i></a>
	                            	<a class="btn btn-sm btn-icon btn-danger" ng-click="rejectproduction(production.id )" tooltip="Отменить"><i class="glyphicon glyphicon-trash"></i></a>
	                            	<a class="btn btn-sm btn-icon btn-warning" ng-click="showproductionDetails(production.id)" tooltip="Список"><i class="fa fa-list"></i></a>
	                            <!-- 	<a class="btn btn-sm btn-icon btn-info"ng-if="production.approvedByAdmin == false " ui-sref="admin.production_request.edit({ id: production.id })" class="btn btn-sm btn-icon btn-warning"><i tooltip="Изменить" class="fa fa-pencil"></i></a>
		                      	 -->
		                      	 </td>
	                          </tr>
	                      </table>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
							</div>
						</div>
						<div class="panel panel-success" draggable="true" id="print">
							<div class="panel-heading"><b>Дата:</b>  {{purchaseInfo.plannedDate | date:"dd-MM-yyyy"}} || Cтатус: <span class="label inline m-t-sm shippingStatus_{{purchaseInfo.status.id}}">{{purchaseInfo.status.name | uppercase}}</span> || Подтверждение админа :
							<span ng-if="purchaseInfo.approvedByAdmin == true" ><i class="glyphicon glyphicon-ok text-success"></i></span>
							<span ng-if="purchaseInfo.approvedByAdmin == false " ><i class="glyphicon glyphicon-minus text-danger"></i></span>

						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2" id="exportable">
		  				<table id="nakl" style="border-spacing: 0px; border:1px solid green; width:100%" class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th style="border: 1px solid green !important;">Название</th>
                          	<th style="border: 1px solid green !important;">Количество</th>
                          	<th style="border: 1px solid green !important;">Цена</th>
                          	<th style="border: 1px solid green !important;">Разница в цене</th>
                          
                          </tr>
                          <tr ng-repeat="raw in purchaseRaws" value="{{raw.id}}" ng-class="{odd: $odd, even: $even}">
                            <td style="border: 1px solid green !important;">{{raw.product.name}}</td>
                            <td style="border: 1px solid green !important;">{{raw.amount}}</td>
                            <td style="border: 1px solid green !important;">{{raw.unitPrice}}</td>
                            <td style="border: 1px solid green !important;">{{raw.changeInPrice}}</td>
						  </tr>
						  
						</table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<textarea value="{{purchaseInfo.description}}" disabled style="width:89%; height:40px" ng-model="purchaseInfo.description"></textarea>
						</div>
        </div>
 		 		</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>
