<div ng-controller="ClientEditCtrl">

		<div class="panel-body">
		<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
			<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-dark ">Изменить</header>
							<div class="panel-body">
									<div class="col-lg-12">
									  
							          <div class="form-group">
							          <label class="col-lg-4 control-label">Имя</label>
							            <div class="col-lg-6">
											 <input type="text" class="form-control"  name="name" ng-model="client.name" ng-required="true"/>
							            </div>
							          </div>
							          
							          <div class="form-group">
							          <label class="col-lg-4 control-label">Паспорт</label>
							            <div class="col-lg-6">
											 <input ng-model="client.passport" type="text" class="form-control" placeholder='' name="pass"  />
							            </div>
							          </div>
							          
							          <div class="form-group">
							          <label class="col-lg-4 control-label">День рождения</label>
							            <div class="col-lg-6">
							            	<p class="input-group mydatepicker">
												 <input ng-model="client.birthDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" 
												 is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions"  close-text="Close" />
											    	<span class="input-group-btn">
											      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
											    	</span>
										  	</p>
	  									</div>
							          </div>
							          
							           <div class="form-group">
							          <label class="col-lg-4 control-label">Адрес Проживания</label>
							            <div class="col-lg-6">
											 <input ng-model="client.address" type="text" class="form-control" placeholder='' name="address"  />
							            </div>
							          </div>
							          
							          <div class="form-group">
							          <label class="col-lg-4 control-label">Адрес Доставки</label>
							            <div class="col-lg-6">
											 <input ng-model="client.deliveryAddress" type="text" class="form-control" placeholder='' name="delivery" ng-required="true" />
							            </div>
							          </div>
							          
							          <div class="form-group">
							          <label class="col-lg-4 control-label">Телефон</label>
							            <div class="col-lg-6">
											 <input ng-model="client.phone" type="text" min="1" class="form-control" placeholder='' name="delivery"  />
							            </div>
							          </div>
							          
							          <div class="form-group">
							          <label class="col-lg-4 control-label">Почта</label>
							            <div class="col-lg-6">
											 <input ng-model="client.email" type="email" class="form-control" placeholder='' name="email"  />
							            </div>
							          </div>
							          
							          <div class="form-group">
			           					<label class="col-lg-4 control-label">Клиент 19 бутл</label>
			           					<div class="col-lg-6">
			            					<div class="checkbox">
							                  <label class="i-checks">
							                    <input type="checkbox" ng-model="client.clientFor19Bottle" checked=""><i></i>
							                  </label>
							                </div>
							             </div>
							           </div>
							          
							          <div class="form-group">
							          <label class="col-lg-4 control-label">Касса</label>
							            <div class="col-lg-6"> 
							              <select ng-model="client.cashbox.id" class="form-control" required >
						                	<option  ng-selected="client.cashbox.id == cashbox.id" 
						                	ng-repeat="cashbox in cashboxs" 
						                	selected value="{{cashbox.id}}">{{client.cashbox.name}}</option>
							              </select>  
							            </div>
							          </div>
							          
							          
							          <div class="form-group ">
							          	<div class="form-group" style="margin-left: 205px;">
							          		<button type="submit" class="btn btn-s-md btn-success" >Сохранить</button>
							          		<a href="#/manager_for_bottle/client/list"><button type="submit" class="btn btn-s-md btn-default" >Отмена</button></a>
							          	</div>
							          </div>
								    </div>
								</div> 	
						</section>
					</div>
				</div>
			</form>
		</div>
	</div>
