<style>
	table.tr, table.td{
	padding-left:0px;
	padding-right:0px;
	}
</style>
<div ng-controller="ClientListCtrl" ng-init="init()">
<!-- content -->
<br>

<div class="row">
<div class="col-lg-12 pull-left">
						<div class="col-lg-2 pull-left">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu" style="width: 250px;">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showBl" >
						                <i></i>
						                #
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showName" >
						                <i></i>
						                Имя
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showPassport" >
							              <i></i>
							              Паспорт
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showBirthDate" >
							              <i></i>
							              День рождения
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showLive" >
							              <i></i>
							             Адрес проживания
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showDest" >
							              <i></i>
										 Адрес доставки
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showNum" >
							              <i></i>
							              Тел
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showMail" >
							              <i></i>
							              Почта
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showCash" >
							              <i></i>
							              Касса
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showOper" >
							              <i></i>
							              Опции
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div> 
	<div class="col-lg-12" id="exportable">
		<section class="panel">		
			
  			<div class="panel-body" style="padding:5px">
  				
 		 		<div class="panel panel-success" draggable="true">
					<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
						<table id="client_list" ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="client in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td ng-show="showBl" data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="showName" data-title="'Имя'" sortable="'name'" filter="{ 'name': 'text' }" >{{client.name}}</td>
	                            <td ng-show="showPassport" data-title="'Паспорт'" sortable="'passport'" filter="{ 'passport': 'text' }" class="text-center">{{client.passport}}</td>
	                            <td ng-show="showBirthDate"data-title="'День рождения'" sortable="'passport'" filter="{ 'birthDate': 'text' }" class="text-center">{{client.birthDate | date: 'dd-MM-yyyy'}}</td>
	                            <td ng-show="showLive"data-title="'Адрес Проживания'" sortable="'passport'" filter="{ 'address': 'text' }" >{{client.address}}</td>
	                            <td ng-show="showDest"data-title="'Адрес Доставки'" sortable="'passport'" filter="{ 'deliveryAddress': 'text' }" >{{client.deliveryAddress}}</td>
	                            <td ng-show="showNum"data-title="'Тел.'" sortable="'phone'" filter="{ 'phone': 'text' }" >{{client.phone}}</td>
	                            <td ng-show="showMail"data-title="'Почта'" sortable="'passport'" filter="{ 'email': 'text' }" >{{client.email}}</td>
	                          	<td ng-show="showCash"data-title="'Касса'" sortable="'cashbox'" filter="{ 'cashbox.name': 'text' }" class="text-center">{{client.cashbox.name}}</td>
	                          	<td ng-show="showOper"data-title="' Опции '" class="text-center" style="min-width: 125px">
	                            	 <a class="btn btn-sm btn-icon btn-warning" tooltip="Pедактировать" ui-sref="manager_for_bottle.client.edit({ id: client.id })"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" tooltip="Удалить" ng-click="deleteClient(client.id)"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
	                          </tr>
	                          
	                      </table>
	                      </form>
 		 		</div>
			  </div>
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>