<div ng-controller="AgreementAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-8">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Добавить новый договор</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				            
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Договор №</label>
				              <div class="col-lg-6">
				                <input type="text" placeholder="" class="form-control" ng-model="agreement.agreementNumber">
				              </div>
				            </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Дата создания</label>
					            <div class="col-lg-6">
					            	<p class="input-group mydatepicker">
										 <input ng-model="agreement.startDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
									    	<span class="input-group-btn">
									      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									    	</span>
								  	</p>
										</div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Дата завершения</label>
					            <div class="col-lg-6">
					            	<p class="input-group mydatepicker">
										 <input ng-model="agreement.endDate" type="text" class="form-control" datepicker-popup="{{datepicker2.format}}" ng-model="dt" is-open="datepicker2.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker2.dateOptions" ng-required="true" close-text="Close" />
									    	<span class="input-group-btn">
									      		<button type="button" class="btn btn-default" ng-click="datepicker2.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									    	</span>
								  	</p>
 									</div>
					          </div>
					         <div class="form-group">
					          <label class="col-lg-3 control-label">Клиент</label>
					            <div class="col-lg-6"> 
					              <select ng-model="agreement.client.id" class="form-control" select>
					              	<option value="">Выберите...</option>
					                <option ng-repeat="client in clients" value="{{client.id}}">
						                {{client.name}}
						                <div>{{client.surname != null ? client.name : ""}}</div>
					                </option>
					              </select>  
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Количество тар</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.bottleAmount" type="number" class="form-control" placeholder='Введите количество' name="number"  ng-required="true"/>
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Мин. количество в месяц</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.minBottleForMonth" type="number" class="form-control" placeholder='Введите количество' name="number"  ng-required="true"/>
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Доверенное количество тар</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.confidenceBottleAmount" type="number" class="form-control" placeholder='Введите количество' name="number"  ng-required="true"/>
					            </div>
					          </div>
					          
           					<div class="form-group">
           					<label class="col-lg-3 control-label">Без физ. контракта</label>
           					<div class="col-lg-9">
            					<div class="checkbox">
				                  <label class="i-checks">
				                    <input type="checkbox" ng-model="agreement.virtualAgreement" checked=""><i></i>
				                  </label>
				                </div>
				             </div>
				           </div>
				           <div class="form-group">
					          <label class="col-lg-3 control-label">Залог за каждый тар</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.pledgeFee" type="text" class="form-control" name="number" ng-required="true" />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Цена за каждого бутылья</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.unitPriceForBottle" type="text" class="form-control" name="number"  />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Количество диспенсеров</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.dispanserAmount" type="number" class="form-control" name="number"  />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Описание диспенсера</label>
					            <div class="col-lg-6">
									<textarea ng-model="agreement.dispanserDescription" type="text" row="3" class="form-control" 
												placeholder='Введите описание' name="total"></textarea> 
					            </div>
					          </div>
					          <div class="form-group">
						          <label class="col-lg-3 control-label">Дата последней очистки</label>
						            <div class="col-lg-6">
						            	<p class="input-group mydatepicker">
												 <input ng-model="agreement.lastDispanserWashDate" type="text" class="form-control" datepicker-popup="{{datepicker6.format}}" ng-model="dt" is-open="datepicker6.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker6.dateOptions"  close-text="Close" />
											    	<span class="input-group-btn">
											      		<button type="button" class="btn btn-default" ng-click="datepicker6.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
											    	</span>
										  	</p>
						            	
						            	<!-- <p class="input-group mydatepicker">
											 <input type="text" class="form-control" close-text="Close" value="{{agreement.lastDispanserWashDate |  date:'dd-MM-yyyy'}}"/>
										    	<span class="input-group-btn">
										      		<button type="button" class="btn btn-default" ng-click="datepicker3.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										    	</span>
									  	</p> --> 
									  	<!-- ng-model="agreement.lastDispanserWashDate" -->
									</div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Примечание</label>
					            <div class="col-lg-6">
									<textarea ng-model="agreement.note" type="text" row="3" class="form-control" 
												placeholder='Введите примечание' name="total"></textarea> 
					            </div>
					          </div>
				          	<div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				              </div>
				            </div>
				             <br>
				    <br>
				    <br>
				    
				     <br>
				    <br>
				    <br>
				     <br>
				    <br>
				    <br>
				     <br>
				    <br>
				    <br>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-4">
				   
				    
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>