<div ng-controller="AgreementEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-8">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Изменить договор</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				            
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Договор №</label>
				              <div class="col-lg-6">
				                <input type="text" placeholder="" class="form-control" ng-model="agreement.agreementNumber" disabled>
				              </div>
				            </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Дата создания</label>
					            <div class="col-lg-6">
									<input ng-model="agreement.startDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" datepicker-options="datepicker.dateOptions"  disabled/>
								</div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Дата завершения</label>
					            <div class="col-lg-6">
									<input ng-model="agreement.endDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" datepicker-options="datepicker.dateOptions"  disabled/>
								</div>
					          </div>
					         <div class="form-group">
					          <label class="col-lg-3 control-label">Клиент</label>
					            <div class="col-lg-6"> 
					            	<!-- <input  class="form-control" ng-model={{client.name}} {{client.surname != null ? client.name : ''}} value="{{agreement.client.id}}" disabled/> -->
					               <select ng-model="agreement.client.id" class="form-control" disabled>
					                <option ng-repeat="client in clients" ng-selected="agreement.client.id == client.id" value="{{client.id}}">
						                {{client.name}}
						                <div>{{client.surname != null ? client.name : ""}}</div>
					                </option>
					              </select> 
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Количество тар</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.bottleAmount" type="number" class="form-control" placeholder='Введите количество' name="number" ng-required="true" />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Мин. количество в месяц</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.minBottleForMonth" type="number" class="form-control" placeholder='Введите количество' name="number"  />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Доверенное количество тар</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.confidenceBottleAmount" type="number" class="form-control" placeholder='Введите количество' name="number" ng-required="true"/>
					            </div>
					          </div>
					          
           					<div class="form-group">
           					<label class="col-lg-3 control-label">Без физ. контракта</label>
           					<div class="col-lg-9">
            					<div class="checkbox">
				                  <label class="i-checks">
				                    <input type="checkbox" ng-model="agreement.virtualAgreement" checked=""><i></i>
				                  </label>
				                </div>
				             </div>
				           </div>
				           <div class="form-group">
					          <label class="col-lg-3 control-label">Залог за каждый тар</label>
					            <div class="col-lg-6">
									 <input disabled ng-model="agreement.pledgeFee" type="text" class="form-control" name="number" ng-required="true"  />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Цена за каждого бутылья</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.unitPriceForBottle" type="text" class="form-control" name="number" ng-required="true" disabled/>
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Количество диспенсеров</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.dispanserAmount" type="number" class="form-control" name="number"  />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Описание диспенсера</label>
					            <div class="col-lg-6">
									<textarea ng-model="agreement.dispanserDescription" type="text" row="3" class="form-control" 
												placeholder='Введите описание' name="total"></textarea> 
					            </div>
					          </div>
					          <div class="form-group">
						          <label class="col-lg-3 control-label">Дата последней очистки</label>
						            <div class="col-lg-6">
						            	<p class="input-group mydatepicker">
											 <input ng-model="agreement.lastDispanserWashDate" type="text" class="form-control" datepicker-popup="{{datepicker3.format}}" is-open="datepicker3.opened"  datepicker-options="datepicker3.dateOptions"  close-text="Close" />
										    	<span class="input-group-btn">
										      		<button type="button" class="btn btn-default" ng-click="datepicker3.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										    	</span>
									  	</p>
									</div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Дата последней покупки</label>
					            <div class="col-lg-6">
					            	<p class="input-group mydatepicker">
										 <input ng-model="agreement.lastPurchaseDate" type="text" class="form-control" datepicker-popup="{{datepicker4.format}}" is-open="datepicker4.opened" datepicker-options="datepicker4.dateOptions"  close-text="Close" />
									    	<span class="input-group-btn">
									      		<button type="button" class="btn btn-default" ng-click="datepicker4.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									    	</span>
								  	</p>
 								</div>
					          </div>
					          <div class="form-group" style="display: none;" >
						          <label class="col-lg-3 control-label">Дата планируемой покупки</label>
						            <div class="col-lg-6">
						            	<p class="input-group mydatepicker">
											 <input ng-model="agreement.alertDate" type="text" class="form-control" datepicker-popup="{{datepicker5.format}}" is-open="datepicker5.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker5.dateOptions"  close-text="Close" />
										    	<span class="input-group-btn">
										      		<button type="button" class="btn btn-default" ng-click="datepicker5.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										    	</span>
									  	</p>
	 								</div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Количество потерянных таров</label>
					            <div class="col-lg-6">
									 <input ng-model="agreement.lostBottleNumber" type="number" class="form-control" name="number" disabled />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Примечание</label>
					            <div class="col-lg-6">
									<textarea ng-model="agreement.note" type="text" row="3" class="form-control" 
												placeholder='Введите примечание' name="total"></textarea> 
					            </div>
					          </div>
				          	<div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-4">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>