<div ng-controller="AgreementListCtrl" ng-init="init()">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-lg-12 pull-left">
						<div class="col-lg-2 pull-left">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu" style="width: 250px;">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showBl" checked>
						                <i></i>
						                #
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showNum" checked>
						                <i></i>
						                Договор №
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showClient" checked>
							              <i></i>
							              Клиент
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showCreate" checked>
							              <i></i>
							              Дата создания
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showEnd" checked>
							              <i></i>
							              Дата завершения
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showAmount" checked>
							              <i></i>
										 Количество
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showAmount" checked>
							              <i></i>
										 Количество тар
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showMinAmount" checked>
							              <i></i>
										 Мин. количество в месяц
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showConf" checked>
							              <i></i>
							              Доверенное количество
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showVirtual" checked>
							              <i></i>
							              Без физ. контракта
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showpledgeFee" checked>
							              <i></i>
							              Залог
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showunitPriceForBottle" checked>
							              <i></i>
							              Цена за каждого
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showdispanserAmount" checked>
							              <i></i>
							              Количество диспенсеров
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showdispanserDescription" checked>
							              <i></i>
							              Описание диспенсеров
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showlastDispanserWashDate" checked>
							              <i></i>
							              Дата последней очистки
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showlastPurchaseDate" checked>
							              <i></i>
							              Дата последней покупки
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showlostBottleNumber" checked>
							              <i></i>
							              Потерянные тары
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showPrim" checked>
							              <i></i>
							              Примечание
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showOper" checked>
							              <i></i>
							              Опции
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div> 
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="agreement in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td ng-show="showBl"data-title="'#'">{{$index + 1}}.</td>
	                          	<td ng-show="showNum"data-title="'Договор №'" sortable="'agreementNumber'" style="text-align:center" filter="{ 'agreementNumber': 'text' }">{{agreement.agreementNumber}}</td>
	                            <td ng-show="showClient"data-title="'Клиент'" sortable="'client.name'"  filter="{ 'client.name': 'text' }">{{agreement.client.name}} {{client.surname != null ? client.name : ""}}</td>
	                            <td ng-show="showCreate"data-title="'Дата создание'" sortable="'agreement.startDate'" style="text-align:center" >{{agreement.startDate |  date:'dd.MM.yyyy'}}</td>
	                          	<td ng-show="showEnd"data-title="'Дата завершения'" sortable="'agreement.endDate'" style="text-align:center">{{agreement.endDate |  date:'dd.MM.yyyy'}}</td>
	                          	<td ng-show="showAmount"data-title="'Количество тар'" sortable="'bottleAmount'" style="text-align:center" filter="{ 'bottleAmount': 'text' }">{{agreement.bottleAmount}}</td>
	                          	<td ng-show="showMinAmount"data-title="'Мин. количество в месяц'" sortable="'minBottleForMonth'" style="text-align:center" filter="{ 'minBottleForMonth': 'text' }">{{agreement.minBottleForMonth}}</td>
	                            <td ng-show="showConf"data-title="'Доверенное количество'" sortable="'confidenceBottleAmount'" style="text-align:center" filter="{ 'confidenceBottleAmount': 'text' }">{{agreement.confidenceBottleAmount}}</td>
	                            <td ng-show="showVirtual"data-title="'Без физ. контракта'" sortable="'virtualAgreement'" style="text-align:center" filter="{ 'virtualAgreement': 'text' }">
	                            	<span ng-if="agreement.virtualAgreement == 1 " ><i class="glyphicon glyphicon-ok text-success"></i></span>
                            		<span ng-if="agreement.virtualAgreement == 0 " ><i class="glyphicon glyphicon-minus text-danger"></i></span></td>
	                            <td ng-show="showpledgeFee"data-title="'Залог'" sortable="'pledgeFee'" style="text-align:center" filter="{ 'pledgeFee': 'text' }">{{agreement.pledgeFee}}</td>
	                            <td ng-show="showunitPriceForBottle"data-title="'Цена за каждого'" sortable="'unitPriceForBottle'" style="text-align:center" filter="{ 'unitPriceForBottle': 'text' }">{{agreement.unitPriceForBottle}}</td>
	                            <td ng-show="showdispanserAmount"data-title="'Количество диспенсеров'" sortable="'dispanserAmount'" style="text-align:center" filter="{ 'dispanserAmount': 'text' }">{{agreement.dispanserAmount}}</td>
	                            <td ng-show="showdispanserDescription"data-title="'Описание диспенсеров'" sortable="'dispanserDescription'" style="text-align:center" filter="{ 'dispanserDescription': 'text' }">{{agreement.dispanserDescription}}</td>
	                            <td ng-show="showlastDispanserWashDate"data-title="'Дата последней очистки'" sortable="'lastDispanserWashDate'" style="text-align:center" filter="{ 'lastDispanserWashDate': 'text' }">{{agreement.lastDispanserWashDate | date: 'dd-MM-yyyy'}}</td>
	                            <td ng-show="showlastPurchaseDate"data-title="'Дата последней покупки'" sortable="'lastPurchaseDate'" style="text-align:center" filter="{ 'lastPurchaseDate': 'text' }">{{agreement.lastPurchaseDate | date: 'dd-MM-yyyy'}}</td>
	                            <td ng-show="showalertDate"data-title="'Дата планируемой покупки'" sortable="'alertDate'" style="text-align:center" filter="{ 'alertDate': 'text' }">{{agreement.alertDate | date: 'dd-MM-yyyy'}}</td>
	                           	<td ng-show="showlostBottleNumber"data-title="'Потерянные тары'" sortable="'lostBottleNumber'" style="text-align:center" filter="{ 'lostBottleNumber': 'text' }">{{agreement.lostBottleNumber}}</td>
	                           	<td ng-show="showPrim"data-title="'Примечание'" sortable="'note'" style="text-align:center" filter="{ 'note': 'text' }">{{agreement.note}}</td>
	                           	<td ng-show="showOper" data-title="'Опции'" class="text-center" width="140">
	                            	 <a class="btn btn-sm btn-icon btn-info"ui-sref="manager_for_bottle.agreement.view({ id: agreement.id })" tooltip="Показать"><i class="fa fa-print"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-warning"ui-sref="manager_for_bottle.agreement.edit({ id: agreement.id })" tooltip="Изменить"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deleteAgreement(agreement.id )" tooltip="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
	                          </tr>
	                     </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>
