<style>
#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl>tbody>tr>th, #nakl>tbody>tr>td{
	border: 1px solid green !important;
}
#naklHead{
	border: 1px solid green !important;
}
</style>
<div ng-controller="AgreementViewCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <!-- <div class="panel-heading font-bold">Добавить новый договор</div> -->
				        <div class="panel-body" id="print">				            
				            <table class="table table-striped m-b-none" id="nakl" style="border-spacing: 0px;  width:600px" show-filter="false">
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Договор №:</b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.agreementNumber}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Дата создания: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.startDate |  date:'dd.MM.yyyy'}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Дата завершения: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.endDate |  date:'dd.MM.yyyy'}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Клиент: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.client.name}} {{agreement.client.surname != null ? agreement.client.name : ""}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Количество тар: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.bottleAmount}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Доверенное количество тар: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.confidenceBottleAmount}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Без физ. контракта: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">
				            			<span ng-if="agreement.virtualAgreement == 1 " >Да</span>
                            			<span ng-if="agreement.virtualAgreement == 0 " >Нет</span></td>
	                        		</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Залог за каждый тар: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.pledgeFee}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Цена за каждого бутлья: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.unitPriceForBottle}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Количество диспенсеров: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.dispanserAmount}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Описание диспенсера: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.dispanserDescription}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Дата последней очистки: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.lastDispanserWashDate |  date:'dd.MM.yyyy'}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Количество потерянных тар: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.lostBottleNumber}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>Примечание: </b></td>
				            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agreement.note}}</td>
				            	</tr>
				            </table>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-4">
				    	<div class="col-sm-12">
							<button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>