<div ng-controller="InventoryCategoryAddCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">

		<div class="bg-default lter b-b wrapper-lg">
			<h1 class="m-n font-thin h3">Добавить категорию</h1>
		</div>
		<div class="progress progress-xs m-b-none dker">
            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">	
    
      <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-6">
          
          <div class="form-group">
          <label class="col-lg-5 control-label">Название категории</label>
            <div class="col-lg-6">
            	<input ng-model="inventory_category.name" type="text" class="form-control" placeholder='Введите название категории' name="category" >
            </div>
          </div>
          
          <div class="form-group ">
          	<div class="col-lg-6" style="margin-left: 260px;">
          		<button type="submit" class="btn btn-s-md btn-success">Сохранить</button>
          	</div>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </form>
   
  </div>
</section>
	</div>
</div>
</div>