<div ng-controller="InventoryCategoryEditCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">

		<div class="bg-default lter b-b wrapper-lg">
			<h1 class="m-n font-thin h3">Изменить категорию</h1>
		</div>
		<div class="progress progress-xs m-b-none dker">
            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">	
			    
			      <div class="line line-dashed line-lg pull-in"></div>
			        <div class="col-sm-6">
			          
			          <div class="form-group">
				          <label class="col-lg-3 control-label">Категория</label>
				            <div class="col-lg-6"> 
								<input type="text" ng-model="inventory_category.name"  value="inventory_category.name"class="form-control" placeholder='' name="category" >
			            </div>
			          </div>
			          
			          <div class="form-group ">
			          	<div class="col-lg-6" style="margin-left: 230px;">
			          		<button type="submit" class="btn btn-s-md btn-success">Изменить</button>
			          	</div>
			          </div>
			        </div>
			        <div class="line line-dashed line-lg pull-in"></div>
			  </form>
		</div>
	</section>
	</div>
	</div>
</div>