<div ng-controller="AddDefectCtrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">

		<div class="bg-default lter b-b wrapper-lg">
			<h1 class="m-n font-thin h3">Добавить дефект</h1>
		</div>
		<div class="progress progress-xs m-b-none dker">
            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<form class="bs-example form-horizontal" ng-submit="addDefect()">	
    
			      <div class="line line-dashed line-lg pull-in"></div>
			        <div class="col-sm-6">
			        <div class="form-group">
			          <label class="col-lg-3 control-label">Тип обьекта</label>
			            <div class="col-lg-6"> 
							<input ng-model="product.name" type="text" class="form-control" name="s_number"> 
			            </div>
			          </div>
			          <div class="form-group">
			          <label class="col-lg-3 control-label">Обьект</label>
			            <div class="col-lg-6"> 
			              	<select ng-model="product.fee.id" name="fee" class="form-control">
			                <option ng-selected="product.fee.id == fee.id" 
			                ng-repeat="fee in fees" ng-value="{{fee.id}}">
			                {{prodcut.fee}}
			                </option>
			              </select> 
			            </div>
			          </div>
			          <div class="form-group"> 
			          <label class="col-sm-3 control-label">Сумма<span class="text-danger">*</span></label> 
			            <div class="col-sm-6"> 
			            	<select ng-model="product.productType.id" name="productType" class="form-control">
			                <option ng-selected="product.productType.id == productType.id" 
			                ng-repeat="productType in productTypes" ng-value="{{prodcutType.id}}">
			                {{prodcut.productType}}
			                </option>
			              </select> 
			            </div> 
			          </div>
			          <div class="form-group">
			            <label class="col-lg-3 control-label">Дата<span class="text-danger">*</span></label>
			            <div class="col-lg-6">  
			              	<select ng-model="product.productType.fizzy.id" name="fizzy" class="form-control">
			                <option ng-selected="product.productType.fizzy.id == fizzy.id" 
			                ng-repeat="fizzy in fizzys" ng-value="{{fizzy.id}}">
			                {{prodcut.productType.fizzy}}
			                </option>
			              </select> 
			            </div>
			          </div>
			          <div class="form-group">
			          <label class="col-lg-3 control-label">Местоположение</label>
			            <div class="col-lg-6">
			            	<select ng-model="product.capacity.id" name="capacity" class="form-control">
			                <option ng-selected="product.capacity.id == capacity.id" 
			                ng-repeat="capacity in capacity" ng-value="{{capacity.id}}">
			                {{prodcut.capacity}}
			                </option>
			              </select> 
			            </div>
			          </div>
			          
			          <div class="form-group">
			          <label class="col-lg-3 control-label">Одобрено</label>
			            <div class="col-lg-6">
			            	<select ng-model="product.capacity.id" name="capacity" class="form-control">
			                <option ng-selected="product.capacity.id == capacity.id" 
			                ng-repeat="capacity in capacity" ng-value="{{capacity.id}}">
			                {{prodcut.capacity}}
			                </option>
			              </select> 
			            </div>
			          </div>
			          <div class="form-group">
			          		<button type="submit" class="btn btn-s-md btn-success">Сохранить</button>
			            	<a href="#list">	
			            		<button ng-click="cancel()" type="submit" class="btn btn-s-md btn-default">Назад</button>
			          		</a>
			          </div>
			        </div>
			        <div class="line line-dashed line-lg pull-in"></div>
			  </form>
   
  </div>
</section>
	</div>
</div>
<!-- content -->
</div>
