<div ng-controller="ListDefectCtrl">
	<!-- content -->
	<div id="content" class="content" role="main">
		<div class="app-content-body ">


			<div class="bg-default lter b-b wrapper-lg">
				<h1 class="m-n font-thin h3">Дефект</h1>
				<a href="#/add" class="btn btn-success btn-sm bold">Добавить дефект &nbsp;<span><i class="icon-plus bold"></i></span></a>
			</div>
			<div class="progress progress-xs m-b-none dker">
                <div class="progress-bar progress-bar-primary" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
            </div>
			<div class="wrapper-md">
				<div class="panel panel-info">
					<div class="panel-heading">Дефекты</div>
					
					<div class="table-responsive">
						<table ui-jq="dataTable" class="table table-striped m-b-none">
							<thead>
								<tr> 
								  <th style="width: 20%">Тип объекта</th>
					              <th style="width: 20%">Объект</th>
					              <th style="width: 15%">Сумма</th>
					              <th style="width: 15%">Дата</th>
					              <th style="width: 10%">Опции</th>
								</tr>
								</thead>
							<tbody>
								<tr ng-repeat="defect in defects">
					              <td >{{}}</td>
					              <td >{{}}</td>
					              <td >{{}}</td>
					              <td >{{}}</td>
					              <td>
					              	<a href="#" tooltip="edit" data-placement="top" data-original-title="Edit"><i class="icon-pensil"></i></a>&nbsp;
									<!-- <a href="javascript:void(0)" ng-click="deleteDefect(defect.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; -->
									<a href="#" tooltip="information" data-placement="top" data-original-title="More information about defect"><i class="icon-user"></i></a>
					              </td>
					          </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>
	</div>
	<!-- / content -->
</div>
