<div ng-controller="WarehouseListCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-lg-3">
				      	<div class="form-group">
				        	<select ng-model="place.id" class="form-control" select>
				                <option ng-repeat="place_t in places" ng-value="place_t.id" ng-selected="place.id == place_t.id">{{place_t.name}}</option>
				             </select>   
				        </div>
				    </div>
				    <div class="col-lg-3">
				      	<div class="form-group">
			              	<select ng-model="objectType" class="form-control" select>
				                <option value="product">Продукты</option>
				                <option value="raw">Сырье</option>
				            </select> 
			            </div>
				    </div>
				    <div class="col-lg-3">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div>	
				</div>
				<div class="row">
					<div class="col-sm-12">
				      <div class="panel panel-default">
				      <div  ng-show="objectType =='product'">
						<table ng-table="tableParams" id="exportable" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="product in products" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td data-title="'Наименование'" sortable="'product.name'" filter="{ 'product.name': 'text' }">{{product.product.name}}</td>
	                            <td data-title="'Цена'" sortable="'product.fee'" filter="{ 'product.fee': 'text' }" class="text-center">{{product.product.fee}} сом</td>
	                            <td data-title="'Тип'" sortable="'product.productType.name'" filter="{ 'product.productType.name': 'text' }" class="text-center">{{product.product.productType.name}}</td>
	                            <td data-title="'Количество'" sortable="'amount'" filter="{ 'amount': 'text' }" class="text-center">{{product.amount}}</td>
	                            <td data-title="'Объем'" sortable="'capacity'" filter="{ 'product.capacity': 'text' }" class="text-center">{{product.product.capacity.name}}</td>
	                          </tr>
	                     </table>
	                     <script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>
	                    </div>
	                    <div  ng-show="objectType =='raw'">	                    
	                     <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="raw_place in raw_places" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td data-title="'Наименование'" sortable="'raw.name'" filter="{ 'raw.name': 'text' }">{{raw_place.raw.name}}</td>
	                            <td data-title="'Количество'" sortable="'amount'" filter="{ 'amount': 'text' }" class="text-center">{{raw_place.amount}}</td>	
	                            <td data-title="'Мер.измерения'" sortable="'raw.unit.name'" filter="{ 'raw.unit.name': 'text' }" class="text-center">{{raw_place.raw.unit.name}}</td>	
	                          </tr>
	                     </table>
	                     <script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
	</script>
	                     </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

