<div ng-controller="InventoryEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Изменить материал</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				            <div class="form-group">
				              <label class="col-lg-3 control-label">№</label>
				              <div class="col-lg-6">
				                <input type="text" placeholder="" class="form-control" ng-model="inventory.inventoryNo">
				              </div>
				            </div>
				            <div class="form-group">
				          <label class="col-lg-3 control-label">Дата создания</label>
				            <div class="col-lg-6">
				            	<p class="input-group mydatepicker">
								 <input ng-model="inventory.startDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
						    	<span class="input-group-btn">
						      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						    	</span>
							  	</p>
							</div>
				          </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Место</label>
					            <div class="col-lg-6"> 
					              <select ng-model="place.id" class="form-control" select>
					                <option ng-repeat="place in places" ng-selected="inventory.place.id == place.id" ng-value="place.id">{{place.name}}</option>
					              </select>  
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Ответственный</label>
					            <div class="col-lg-6"> 
					              <select ng-model="person.id" class="form-control" select>
					                <option ng-repeat="person in persons" ng-selected="inventory.person.id == person.id" ng-value="person.id">{{person.name+" "+person.surname}}</option>
					              </select>  
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Материал</label>
					            <div class="col-lg-6"> 
					              <select ng-model="inventory.inventoryType.id" class="form-control" select>
					                <option ng-repeat="type in types" ng-selected="inventory.inventoryType.id == type.id" ng-value="type.id">{{type.name}}</option>
					              </select>  
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Цена</label>
					            <div class="col-lg-6">
									 <input ng-model="inventory.price" type="number" min="1" class="form-control" placeholder='Введите цену' name="number"  />
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Статус</label>
					            <div class="col-lg-6"> 
					              <select ng-model="inventory.inventoryStatus.id" class="form-control" select>
					                <option ng-repeat="status in statuses" ng-selected="inventory.inventoryStatus.id == status.id" ng-value="status.id">{{status.name}}</option>
					              </select>  
					            </div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Дата списания</label>
					            <div class="col-lg-6">
					            	<p class="input-group mydatepicker">
									<input ng-model="inventory.endDate" type="text" class="form-control" datepicker-popup="{{datepicker2.format}}" ng-model="dt" is-open="datepicker2.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker2.dateOptions" ng-required="true" close-text="Close" />
							    	<span class="input-group-btn">
							      		<button type="button" class="btn btn-default" ng-click="datepicker2.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							    	</span>
								  	</p>
								</div>
					          </div>
					          <div class="form-group">
					          <label class="col-lg-3 control-label">Описание</label>
					            <div class="col-lg-6">
									<textarea ng-model="inventory.description" type="text" row="3" class="form-control" 
												placeholder='Введите описание' name="total"></textarea> 
					            </div>
					          </div>
				            
				          
				            <div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Обновить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>