<div ng-controller="StaffAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Добавить нового сотрудника</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				          	
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Имя</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="staff.name">
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Фамилия</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="staff.surname">
				              </div>
				            </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Должность</label>
					            <div class="col-lg-9" style="padding: 0px;"> 
					            	<div class="col-lg-9">
						              <select style="display: inline-block" ng-model="selectedPositionIndex" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="position in positions" ng-value="$index">{{position.name}}</option>
						              </select>  
						            </div>
						            <div class="col-lg-3" style="padding: 0px">
					              		<a class="btn btn-sm btn-info" href="javascript:void(0)" ng-click="addPosition(positions[selectedPositionIndex])">добваить</a>
					              	</div>
					              	<div class="col-lg-12">
						              <table class="table table-striped m-b-none">
						              	<tr ng-repeat="selectedPosition in selectedPositions">
						              		<td style="width: 10%" >{{$index+1}}.</td>
						              		<td> {{selectedPosition.name}} </td>
						              		<td style="width: 20%"> <a class="btn btn-sm btn-danger" href="javascript:void(0)" ng-click="removePosition(selectedPosition.id)">удалить</a> </td>
						              	</tr>
						              </table>
						            </div>
					            </div>
					            
					          </div>
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Телефон</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="staff.phone">
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Паспорт №</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="staff.passport">
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Зар. плата</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="staff.salary">
				              </div>
				            </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Касса</label>
					            <div class="col-lg-6"> 
					              <select ng-model="staff.cashbox.id" class="form-control" select>
					              	<option value="">Выберите...</option>
					                <option ng-repeat="cashbox in cashboxes" ng-value="cashbox.id">{{cashbox.name}}</option>
					              </select>  
					            </div>
					          </div>
				            <div class="form-group">
           						<label class="col-lg-3 control-label">Штатный</label>
	           					<div class="col-lg-9">
	            					<div class="checkbox">
					                  <label class="i-checks">
					                    <input type="checkbox" ng-model="staff.outsource" checked=""><i></i>
					                  </label>
					                </div>
					             </div>
				         	</div>
				          
				            <div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>