<div ng-controller="StaffManagerEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Добавить нового менеджера 19 Бутыль</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				          	<div class="form-group">
					          <label class="col-lg-3 control-label">Сотрудник</label>
					            <div class="col-lg-6"> 
					              <select ng-model="place_19_manager.manager.id" class="form-control" select>
					                <option ng-selected="place_19_manager.manager.id == staff.id" ng-repeat="staff in staffs" ng-value="staff.id">{{staff.name+ ' '+staff.surname}}</option>
					              </select> 
					            </div>
					         </div>
					         <div class="form-group">
					          <label class="col-lg-3 control-label">Склад</label>
					            <div class="col-lg-6"> 
					              <select ng-model="place_19_manager.place.id" class="form-control" select>
					                <option ng-selected="place_19_manager.place.id == place.id" ng-repeat="place in places" ng-value="place.id">{{place.name}}</option>
					              </select> 
					            </div>
					         </div>
				          	<div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Обновить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>