<div ng-controller="StaffUsersEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Информация о пользователе</div>
					        <div class="panel-body">
				          		<table class="table table-striped m-b-none">
				          			<tr>
				          				<td>Имя</td>
				          				<td>{{user.staff.name}}</td>
				          			</tr>
				          			<tr>
				          				<td>Фамилия</td>
				          				<td>{{user.staff.surname}}</td>
				          			</tr>
				          			<tr>
				          			<tr>
				          				<td>Должность</td>
				          				<td>{{user.staff.position.name}}</td>
				          			</tr>
				          			<tr>
				          				<td>Тел. номер</td>
				          				<td>{{user.staff.phone}}</td>
				          			</tr>
				          				<td>Паспорт</td>
				          				<td>{{user.staff.passport}}</td>
				          			</tr>
				          			<tr>
				          				<td>Персональный номер</td>
				          				<td>{{user.staff.personNumber}}</td>
				          			</tr>
				          			<tr>
				          				<td>ЗП</td>
				          				<td>{{user.staff.salary}}</td>
				          			</tr>
				          			<tr>
				          				<td>Касса</td>
				          				<td>{{user.staff.cashbox.name}}</td>
				          			</tr>
					      		</table>
					        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    	<div class="panel panel-default">
			              <div class="panel-heading">
			                <span class="label bg-danger pull-right m-t-xs">{{userRoles.length}} Роли Всего</span>
			                Роли
			              </div>
			              <table class="table table-striped m-b-none">
			                <thead>
			                  <tr>
			                    <th>#</th>
			                    <th>Логин</th>
			                    <th>Опции</th>
			                  </tr>
			                </thead>
			                <tbody>
			                  <tr ng-repeat="userRole in userRoles">
			                    <td>{{$index + 1}}.</td>
			                    <td>{{roleMapping[userRole.role.name].russian}}</td>
			                    <td data-title="' Удалить'" class="text-center" >
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="removeRoleOfUser(userRole.role.id )"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
			                  </tr>
			                </tbody>
			              </table>
			              <div style="padding: 20px 40px; border-top: 1px solid gray">
			              	  <span>Выберите роль: </span>&nbsp
				              <select ng-model="roleId">
				              	<option ng-repeat="role in roles" ng-value="role.id">{{roleMapping[role.name].russian}}</option>
				              </select>&nbsp
				              <a class="btn btn-sm btn-success" ng-click="addRoleOfUser()"><i class="glyphicon glyphicon-plus"></i> Добавить </a><br><br>
			              </div>
			              <div style="padding:0 20px 20px 20px">
			              	 <span><strong>Заметка: </strong>Рекомендуется только одна роль для каждого пользователя </span>
			              </div>
			            </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>