<div ng-controller="AddShipping19Ctrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<form class="form-inline" ng-submit="saveSendList()">
		
	<div class="col-lg-12">
	
		<div class="bg-default lter b-b col-lg-5 panel-heading">
			<h1 class="m-n font-thin h3">Планирование Продукции</h1>
		</div>
		<div class="col-lg-7">
  				<div class="col-lg-12 panel-heading">
			         <div class="form-group">
			           <div class="col-sm-10">
			            <div class="input-group w-md">
			              <input type="text" class="form-control" value="{{date |  date:'dd-MM-yyyy'}}"disabled is-open="closed" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </div>
			          </div>
			        </div>
			        <div class="form-group">
			         <select ng-model="placeByToPlaceId" name="productType" class="form-control" >
			         	<option value="-1">Пункт Назначения</option>
		                <option ng-repeat="place in places" ng-value="place.id" ng-selected="placeByToPlaceId2 == place.id">
		                {{place.name}}
		                </option>
		              </select> 
   					</div>
				</div>
		</div>
	</div>
		<div style="clear:both"></div>
		<div class="progress progress-xs m-b-none dker ">
            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  			
 		 		<div class="panel panel-info" draggable="true">
					<div class="panel-heading"> Хан Тенгри 19л
						<div style="float:right	">
							<label class="i-switch bg-info m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(3)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle toggle_3">
		  				<table  class="table table-striped m-b-none dataTable" show-filter="true">
		  				   <tr>
                          	<th>Название</th>
                          	<th>Количество продукта</th>
                          </tr>
                          <tr>
                          	<td>Хан Тенгри 19л</td>
                          	<td><input type="number" ng-model="shipping19.bottleAmount" /></td>
                          </tr>
		                </table>
		            </div>
 		 		</div>
 		 		 <div class="row">
					<div class="col-sm-12">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
					</div>
				</div>
 		 		<div class="panel panel-success" draggable="true" id="print">
					<div class="panel-heading"> Список Выбранных Продукций
						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2">
		  				<table  class="table table-striped m-b-none dataTable" show-filter="true">
		  				   <tr>
                          	<th style="border: 1px solid green !important;">Название</th>
                          	<th style="border: 1px solid green !important;">Количество продукта</th>
                          </tr>
                          <tr>
                          	<td style="border: 1px solid green !important;">Хан Тенгри 19л</td>
                          	<td style="border: 1px solid green !important;">{{(shipping19.bottleAmount==null)? '0 шт.' : shipping19.bottleAmount+" шт."}}</td>
                          </tr>
		                </table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<textarea placeholder="Описание" style="width:89%; height:40px" ng-model="description"></textarea>
						 	<button style="float:right" class="btn m-b-xs w-xs btn-success btn-rounded tableSubmit" type="submit">Отправить</button>
		            	</div>
		            </div>
 		 		</div>
			  </div>
		   	</form>	
		</section>
	</div>
</div>
<!-- content -->
</div>