<div ng-controller="TransactionCategoryAddCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">

		<div class="bg-default lter b-b wrapper-lg">
			<h1 class="m-n font-thin h3">Добавить категорию переводов</h1>
		</div>
		<div class="progress progress-xs m-b-none dker">
            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">	
    
      <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-6">
        
		 	<div class="form-group">
	          <label class="col-lg-3 control-label">Перевод</label>
	            <div class="col-lg-6"> 
	             <select ng-model="transaction_category.income"  class="form-control"  name="isIn" ng-required="true">
             		<option value="false">Расход</option>
             		<option value="true">Приход</option>
             	</select>
            </div>
          </div> 
     
          <div class="form-group"> 
          <label class="col-sm-3 control-label">Название<span class="text-danger">*</span></label> 
            <div class="col-sm-6">
				<input ng-model="transaction_category.name" type="text" class="form-control" placeholder='Введите название' name="name" ng-required="true"> 
            </div> 
          </div>

          <div class="form-group ">
          	<div class="col-lg-6 " style="margin-left: 160px;">
          		<button type="submit" class="btn btn-s-md btn-success">Сохранить</button>
          	</div>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </form>
   
  </div>
</section>
	</div>
</div>
<!-- content -->
</div>
