<div ng-controller="TransactionCategoryEditCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">

		<div class="bg-default lter b-b wrapper-lg">
			<h1 class="m-n font-thin h3">Изменить категорию переводов</h1>
		</div>
		<div class="progress progress-xs m-b-none dker">
            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">	
    
      <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-6">
        
			 <div class="form-group">
	          <label class="col-lg-3 control-label">Перевод</label>
	            <div class="col-lg-6"> 
	           
	              <select ng-model="transaction_category.income"  name="income" class="form-control">
             			<option value="false">Расход</option>
	             		<option value="true">Приход</option>
             	</select>
	            </div>
	          </div> 
     
          <div class="form-group"> 
          <label class="col-sm-3 control-label">Название<span class="text-danger">*</span></label> 
            <div class="col-sm-6">
				<input type="text" class="form-control"  name="type" ng-model="transaction_category.name" value="transaction_category.name" ng-required="true">
            </div> 
          </div>


          
          <div class="form-group ">
          	<div class="col-lg-6 pull-center">
          		<button type="submit" class="btn btn-s-md btn-success">Изменить</button>
          	</div>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </form>
   
  </div>
</section>
	</div>
</div>
<!-- content -->
</div>
