<div ng-controller="TransactionCategoryListCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			
	        <div class="r bg-default dker item hbox no-border">
               	<div class="bg-default wrapper-lg">
					<h1 class="m-n font-thin h3">Категория переводов</h1>
				</div>
                <div class="col w-xs v-middle hidden-md">
                    <!-- <div ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline"></div> -->
                </div> 
                <div class="col dk padder-v wrapper-lg">
                    <div class="text-primary-dk font-thin h4 text-right"  ng-repeat="cashbox in cashboxs" >
                    <div ng-model="cashbox.total">{{cashbox.name+"  "+cashbox.total}}&nbsp;<span class="text-primary-dk font-thin h5">сом</span></div></div>
                    <div class="text-muted text-xs text-right"><span>Общая сумма</span></div>
                </div>
              </div>
        
          
			<div class="progress progress-xs m-b-none dker">
	            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
	        </div>
	        
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-8">
				      <div class="panel panel-default">
						<!-- <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
							<tr ng-repeat="product in products" ng-class="{odd: $odd, even: $even}">
								<td data-title="'#'">{{$index + 1}}.</td>
								<td data-title="Название">{{product.name}}</td>
								<td data-title="Цена">{{product.fee}} сом</td>
								<td data-title="Цена">{{product.capacity.name}}</td>
								<td data-title="getTitle('o')">
									<a ui-sref="edit/{{product.id}}" tooltip="Edit" data-placement="top"><i class="icon-pencil"></i></a>&nbsp;
									<a href="javascript:void(0)" ng-click="deleteType(product.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp;
								</td>
							</tr>
						</table> -->
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="transaction_category in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td data-title="'Наименование категорий'" sortable="'name'" filter="{ 'name' : 'text' }" >{{transaction_category.name}}</td>
	                             <td data-title="'Переводы'" sortable="'income'" class="text-center">
									<span ng-if="transaction_category.income == 0 " ><i class="glyphicon glyphicon-arrow-up text-info"></i></br>Расход</span>
                            		<span ng-if="transaction_category.income == 1 " ><i class="glyphicon glyphicon-arrow-down text-success"></i></br>Приход</span>
								</td> 
	                          	<td data-title="'Операции'" class="text-center">
 									 <a class="btn btn-sm btn-icon btn-primary" ui-sref="accountant.transaction_category.edit({ id: transaction_category.id })"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deleteTransactionCategory(transaction_category.id )"><i class="glyphicon glyphicon-trash"></i></a>	                            </td>
	                          </tr>
	                     </table>
						</div>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
</div>
</div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
