<div ng-controller="Purchase19AddCtrl">

	<div class="panel">
		<div class="panel-body">
		<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
			
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-dark ">Добавить</header>
							<div class="panel-body">
									<div class="col-lg-12">
									
									
									<div class="form-group">
							          <label class="col-lg-4 control-label">Пункт назначения</label>
							            <div class="col-lg-6"> 
							              <select ng-model="purchase_19.toPlaceId.id" class="form-control" select>
							              	<option value="">Выберите...</option>
							                <option ng-repeat="place in places" value="{{place.id}}" 
							                		ng-selected="purchase_19.toPlaceId.id == place.id">
							                {{place.name}}
							                </option>
							              </select>  
							            </div>
							          </div>
									
									   <div class="form-group">
							          <label class="col-lg-4 control-label">Количество</label>
							            <div class="col-lg-6">
											 <input ng-model="purchase_19.amount" type="number" min="1" class="form-control" placeholder='Введите количество' name="number"  />
							            </div>
							          </div>
							          
							           <div class="form-group">
							          <label class="col-lg-4 control-label">Цена</label>
							            <div class="col-lg-6">
											 <input ng-model="purchase_19.unitPrice" type="number" min="1" class="form-control" placeholder='Введите цена' name="number"  />
							            </div>
							          </div>
							          
							           <div class="form-group">
							          <label class="col-lg-4 control-label">Сумма</label>
							            <div class="col-lg-6">
											 <label  type="number" min="1" class="form-control"  name="number"  >
											 {{purchase_19.amount!=null?(purchase_19.unitPrice!=null? purchase_19.amount*purchase_19.unitPrice: 0):0}}</label>
							            </div>
							          </div>
							          
							           <div class="form-group">
							          <label class="col-lg-4 control-label">Описание</label>
							            <div class="col-lg-6">
											<textarea ng-model="purchase_19.description" type="text" row="3" class="form-control" 
														placeholder='Введите описание' name="total"></textarea> 
							            </div>
							          </div> 
							          <div class="form-group ">
							          	<div class="form-group" style="margin-left: 230px;">
							          		<button type="submit" class="btn btn-s-md btn-success" >Сохранить</button>
							          		<a href="#/list"><button type="submit" class="btn btn-s-md btn-default" >Отмена</button></a>
							          	</div>
							          </div>
								    </div>
								</div> 	
						</section>
					</div>
			
			</form>
		</div>

</div>
</div>
