<div ng-controller="CapacityAddCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
			    	<div class="col-sm-6">
			     		<div class="panel panel-default">
			        		<div class="panel-heading font-bold">Добавить объем измерения</div>
			        			<div class="panel-body">
			          				<form class="bs-example form-horizontal ng-pristine ng-valid" role="form" ng-submit="createt()">
			            				<div class="form-group">
	 										<label class="col-lg-3 control-label">Наимнование</label>
	            							<div class="col-lg-9">
			              						<input type="text" placeholder="" ng-model="capacity.name" class="form-control">
			            					</div>
			            				</div>
			            				<div class="form-group">
	 										<label class="col-lg-3 control-label">Объем</label>
	            							<div class="col-lg-9">
			              						<input type="text" placeholder="" ng-model="capacity.capacity" class="form-control">
			            					</div>
			            				</div>
			            					<div class="form-group">
									          <label class="col-lg-3 control-label">Ед. измерения</label>
									            <div class="col-lg-6"> 
									              <select ng-model="capacity.unit.id" class="form-control" select>
									              	<option value="">Выберите...</option>
									                <option ng-repeat="unit in units" ng-value="unit.id">{{unit.name}}</option>
									              </select>  
									            </div>
									          </div>
									       <div class="form-group">
									            <label class="col-lg-3 control-label"></label>
									         	<div class="col-lg-9">
													<button class="btn btn-sm btn-info" type="submit">Сохранить</button>
									          	</div>
									      	</div>
			          				</form>
			        			</div>
			      		</div>
			    	</div>
		    	</div>
			</div>
		</div>
	</div>
</div>