<div ng-controller="CapacityListCtrl" ng-init="init()">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			<div>
					
					<div class="col-lg-2">
						<div class="btn-group" dropdown="" is-open="status.isopen">
				            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
				              Показать колонки <span class="caret"></span>
				            </button>
				            <ul class="dropdown-menu" role="menu">
				              <li><span style="padding: 5px 15px;">
					              <label class="i-checks">
					                <input type="checkbox" ng-model="showName">
					                <i></i>
					                Название
					              </label>
					              </span>
				              </li>
				              <li><span style="padding: 5px 15px;">
					              <label class="i-checks">
						              <input type="checkbox" ng-model="showCapacity" checked>
						              <i></i>
						              Объем
					              </label>
					              </span>
				              </li>
				            </ul>
				          </div>
					</div>
					<div class="col-lg-3">
						<button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div>
					</div>
				<div class="row">
					<div class="col-lg-8">
				      <div class="panel panel-default" id="exportable">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="capacity in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="showName" data-title="'Название'" sortable="'name'" filter="{ 'name': 'text' }">{{capacity.name}}</td>
	                            <td ng-show="showCapacity" data-title="'Объем'" sortable="'capacity'" filter="{ 'capacity': 'text' }" class="text-center">{{capacity.capacity}}</td>
	                            <td data-title="'Ед.измерения'" sortable="'capacity.unit.name'" filter="{ 'unit.name': 'text' }" class="text-center">{{capacity.unit.name}}</td>
	                          	<td data-title="'Опции'" class="text-center" width="100">
	                            	 <a class="btn btn-sm btn-icon btn-warning" ui-sref="admin.capacity.edit({ id: capacity.id })" tooltip="Изменить"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deleteCapacity(capacity.id )" tooltip="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
	                          </tr>
	                      </table>
						</div>
					</div>
					<!-- <div class="col-lg-12">
						<button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div>
					<div class="col-lg-12">
						<div class="btn-group" dropdown="" is-open="status.isopen">
				            <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
				              Показать колонки <span class="caret"></span>
				            </button>
				            <ul class="dropdown-menu" role="menu">
				              <li><span style="padding: 5px 15px;">
					              <label class="i-checks">
					                <input type="checkbox" ng-model="showName">
					                <i></i>
					                Название
					              </label>
					              </span>
				              </li>
				              <li><span style="padding: 5px 15px;">
					              <label class="i-checks">
						              <input type="checkbox" ng-model="showCapacity" checked>
						              <i></i>
						              Объем
					              </label>
					              </span>
				              </li>
				            </ul>
				          </div>
					</div> -->
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>