<div ng-controller="InventoryTypeEditCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">

		<div class="bg-default lter b-b wrapper-lg">
			<h1 class="m-n font-thin h3">Изменить экземпляр</h1>
		</div>
		<div class="progress progress-xs m-b-none dker">
            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">	
    
      <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-6">
        
			<div class="form-group">
	          <label class="col-lg-3 control-label">Категории</label>
	            <div class="col-lg-6"> 
	              <select ng-model="inventory_type.inventoryCategory.id" class="form-control" select>
                	<option  ng-selected="inventory_type.inventoryCategory.id == inventory_category.id" 
                	ng-repeat="inventory_category in inventory_categories" 
                	ng-value="inventory_category.id">{{inventory_category.name}}</option>
	              </select>  
	            </div>
	          </div>
     
          <div class="form-group"> 
          <label class="col-sm-3 control-label">Экземпляр<span class="text-danger">*</span></label> 
            <div class="col-sm-6">
				<input type="text" class="form-control"  name="type" ng-model="inventory_type.name" value="inventory_type.name" ng-required="true">
            </div> 
          </div>


          
          <div class="form-group ">
          	<div class="col-lg-6 pull-center">
          		<button type="submit" class="btn btn-s-md btn-success">Изменить</button>
          	</div>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </form>
   
  </div>
</section>
	</div>
</div>
<!-- content -->
</div>
