<div ng-controller="ProductPlaceEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Добавить новое место</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				          	
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Название</label>
				              <div class="col-lg-9">
				                <input type="text" class="form-control" ng-model="productPlace.name" value="productPlace.name">
				              </div>
				            </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Ответственный</label>
					            <div class="col-lg-6"> 
					              <select ng-model="productPlace.staff.id" class="form-control" select>
					                <option ng-selected="productPlace.staff.id == staff.id" ng-repeat="staff in staffs" value="{{staff.id}}">{{staff.name}} {{staff.surname}}</option>
					              </select>  
					            </div>
					          </div>
				            
				            <div class="form-group">
				              <label class="col-lg-3 control-label">Адрес</label>
				              <div class="col-lg-9">
				                <input type="text" placeholder="" class="form-control" ng-model="productPlace.address" value="productPlace.address">
				              </div>
				            </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Тип</label>
					            <div class="col-lg-6"> 
					              <select ng-model="productPlace.placeType.id" class="form-control" select>
					                <option ng-selected="productPlace.placeType.id == place_type.id" ng-repeat="place_type in place_types" ng-value="place_type.id">{{place_type.name}}</option>
					              </select>  
					            </div>
					          </div>
				            
				          
				            <div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>