<div ng-controller="ProductPlaceListCtrl" ng-init="init()">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-lg-12 pull-left">
						
						<div class="col-lg-2 pull-left">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showName">
						                <i></i>
						                Название
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showStaff" checked>
							              <i></i>
							              Ответственный
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showAddress" checked>
							              <i></i>
							              Адрес
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showType" checked>
							              <i></i>
							              Тип
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showOption" checked>
							              <i></i>
							              Опции
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div> 
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="place in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="showName" data-title="'Название'" sortable="'name'" filter="{ 'name': 'text' }">{{place.name}}</td>
	                            <td ng-show="showStaff" data-title="'Ответственный'" sortable="'staff'" filter="{ 'staff.name': 'text' }" class="text-center">{{place.staff.name}} {{place.staff.surname}}</td>
	                            <td ng-show="showAddress" data-title="'Адрес'" sortable="'address'" filter="{ 'address': 'text' }" class="text-center">{{place.address}}</td>
	                            <td ng-show="showType" data-title="'Тип'" sortable="'placeType'" filter="{ 'placeType.name': 'text' }" class="text-center">{{place.placeType.name}}</td>
	                            <td ng-show="showOption" data-title="'Опции'" class="text-center">
	                            	 <a class="btn btn-sm btn-icon btn-warning" ui-sref="admin.product_place.edit({ id: place.id })" tooltip="Изменить"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deletePlace(place.id )" tooltip="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
	                          </tr>
	                     </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>