<style>
#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl>tbody>tr>th, #nakl>tbody>tr>td{
	border: 1px solid green !important;
}
#naklHead{
	border: 1px solid green !important;
}
</style>
<div ng-controller="Reminder19ViewCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <!-- <div class="panel-heading font-bold">Добавить новый договор</div> -->
				        <div class="panel-body" id="print">				            
				            <table class="table table-striped m-b-none" id="nakl" style="border-spacing: 0px; border:1px solid green; width:100%" show-filter="false" ng-reperat="client in clients">
				            	<tr>
				            		<td class="col-sm-4" style="border: 1px solid green !important;"><b>Имя:</b></td>
				            		<td class="col-sm-8" style="border: 1px solid green !important;">{{agreement.client.name}}  {{agreement.client.surname != null ? agreement.client.name : ""}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important;"><b>Паспорт: </b></td>
				            		<td style="border: 1px solid green !important;">{{agreement.client.passport}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important;"><b>Дата рождения: </b></td>
				            		<td style="border: 1px solid green !important;">{{agreement.client.birthDate |  date:'dd.MM.yyyy'}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important;"><b>Адрес проживания: </b></td>
				            		<td style="border: 1px solid green !important;">{{agreement.client.address}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important;"><b>Адрес доставки: </b></td>
				            		<td style="border: 1px solid green !important;">{{agreement.client.deliveryAddress}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important;"><b>Телефон: </b></td>
				            		<td style="border: 1px solid green !important;">{{agreement.client.phone}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important;"><b>Залог: </b></td>
				            		<td style="border: 1px solid green !important;">{{agreement.client.email}}</td>
				            	</tr>
				            	<tr>
				            		<td style="border: 1px solid green !important;"><b>Касса: </b></td>
				            		<td style="border: 1px solid green !important;">{{agreement.client.cashbox.name}}</td>
				            	</tr>
				            	
				            </table>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-4">
				    	<div class="col-sm-12">
							<button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
						</div>
						<!-- <div class="col-sm-12">
						<button class="btn m-b-sm btn-sm btn-default" ng-click="../manager_for_bottle/reminder_19/list">Назад</button>
						</div> -->
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>