<div ng-controller="TransacrionListCtrl" ng-init="init()">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
		
			 <div class="r bg-default dker item hbox no-border">
               	<div class="bg-default wrapper-lg">
					<h1 class="m-n font-thin h3">Основные операции</h1>
				</div>
                <div class="col w-xs v-middle hidden-md">
                    <!-- <div ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline"></div> -->
                </div> 
                <div class="col dk padder-v wrapper-lg">
                    <div class="text-primary-dk font-thin h4 text-right"  ng-repeat="cashbox in cashboxs" >
                    <div ng-model="cashbox.total">{{cashbox.name+"  "+cashbox.total}}&nbsp;<span class="text-primary-dk font-thin h5">сом</span></div></div>
                    <div class="text-muted text-xs text-right"><span>Общая сумма</span></div>
                </div>
              </div>
        
          
			<div class="progress progress-xs m-b-none dker">
	            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
	        </div>
		<div class="app-content-body ">
		<div class="bg-light lter b-b">
		<div class="col-lg-2 pull-left">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showBl" checked>
						                <i></i>
						                #
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showName" checked>
						                <i></i>
						                Имя
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showSurname" checked>
							              <i></i>
							              Фамилия
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showData" checked>
							              <i></i>
							              Дата
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showCol" checked>
							              <i></i>
							              Сумма
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showCash" checked>
							              <i></i>
										 Касса
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showCat" checked>
							              <i></i>
							              Категория
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showPer" checked>
							              <i></i>
							              Переводы
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showOpis" checked>
							              <i></i>
							              Описание
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">					
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="transaction in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td ng-show="showBl" data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="showName"data-title="'Имя'" sortable="'person.name'" filter="{ 'person.name': 'text' }"  >{{transaction.person.name}}</td>
	                            <td ng-show="showSurname"data-title="'Фамилия'" sortable="'person.surname'" filter="{ 'person.surname': 'text' }"  >{{transaction.person.surname}}</td>
	                            <td ng-show="showData"data-title="'Дата'" sortable="'date'"  style="text-align:center">{{transaction.date |  date:'dd.MM.yyyy'}}</td>
	                            <td ng-show="showCol"data-title="'Сумма'" sortable="'amount'" filter="{ 'amount': 'text'}"  style="text-align:center">{{transaction.amount}}</td>
	                            <td ng-show="showCash"data-title="'Касса'" sortable="'cashbox.name'" filter="{ 'cashbox.name': 'text' }"  style="text-align:center">{{transaction.cashbox.name}}</td>
	                            <td ng-show="showCat"data-title="'Категория'" sortable="'transactionCategory.name'" filter="{ 'transactionCategory.name': 'text' }"  style="text-align:center">{{transaction.transactionCategory.name}}</td>
	                            <td ng-show="showPer"data-title="'Переводы'"   sortable="'transactionCategory.income'" filter="{ 'transactionCategory.income': 'text' }" style="text-align:center">
									<span ng-if="transaction.transactionCategory.income == 0 " ><i class="glyphicon glyphicon-arrow-up text-info"></i></br>Расход</span>
                            		<span ng-if="transaction.transactionCategory.income == 1 " ><i class="glyphicon glyphicon-arrow-down text-success"></i></br>Приход</span>
								</td> 
	                            <td ng-show="showOpis"data-title="'Описание'"class="text-center" >{{transaction.description}}</td>
	                          </tr>
	                     </table>
						</div>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
</div>
</div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
	