<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
  	<p class="text-centers">Покупатель</p>
  </li>
<li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-plus icon text-success-dker"></i>
      <span class="">Закупка сырья</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Закупка сырья</a>
      </li>
      <li ui-sref-active="active">
       	<a ui-sref="purchaser.buy_raw_material.list">
       		<b class="label bg-info pull-right">^</b>
       		<span>Список</span>
       	</a>
      </li>
    </ul>
  </li>
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-cube icon text-info"></i>
      <span class="font-bold">Закуп тар</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Закуп тар</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="purchaser.purchase_19.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="purchaser.purchase_19.add">Добавить</a>
      </li>
    </ul>
  </li>
  
