<div ng-controller="PersonalTransactionAddCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
		<div class="bg-default lter b-b wrapper-lg">
			<h1 class="m-n font-thin h3">Добавить персональную транзакцию</h1>
		</div>
		<div class="progress progress-xs m-b-none dker">
            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
	<div class="panel">
		<div class="panel-body">
		<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()"> 
			<div class="col-sm-6">
				<section class="panel">
				<header class="panel-heading bg-dark" >Список сотрудников</header>
						<div class="line line-dashed line-lg pull-in"></div>
						<div class="table-responsive">
								<table class="table table-striped m-b-none">
									<thead>
										<tr role="row">
											<td style="font-weight: 600" ></td>
											<td style="font-weight: 600" ></td>
											<td style="font-weight: 600">Имя</td>
											<td style="font-weight: 600">Фамилия</td>
										</tr>
									</thead>
									<tbody role="alert" aria-live="polite" aria-relevant="all">
										<tr ng-repeat="person in persons" value="{{person.id}}" ng-class="{odd: $odd, even: $even}">
											<td>{{$index + 1}}.</td>
											<td rowspan="1" colspan="1" >
												<label class="i-checks">
												<input ng-model="personal_transaction.personalBalance.person.id" value="{{person.id}}" type="radio">
												<i></i>
												</label>
												</td>
											<td rowspan="1" colspan="1">{{person.name}}</td>
											<td rowspan="1" colspan="1">{{person.surname}}</td>
										</tr>
									</tbody>
								</table>
							<div class="form-group"></div>
						</div>
				</section>
			</div>
			<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-dark ">Доролнительно</header>
							<div class="panel-body">
									<div class="col-lg-12">
									          <div class="form-group">
									          <label class="col-lg-4 control-label">Дата</label>
									            <div class="col-lg-6">
									            	<p class="input-group mydatepicker">
														 <input ng-model="personal_transaction.date" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
													    	<span class="input-group-btn">
													      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
													    	</span>
												  	</p>
			  									</div>
									          </div>
									          <div class="form-group">
									            <label class="col-lg-4 control-label">Перевод<span class="text-danger">*</span></label>
									            <div class="col-lg-6">  
									              <select ng-model="personal_transaction.deposit" name="isIn" class="form-control" placeholder='Выберите ' name="total" ng-required="true">
									              		<option value="true">Исходящий</option>
									              		<option value="false">Входящий</option>
									              	</select>
									            </div>
									          </div>
									          
<!-- 									           <div class="form-group">
									          <label class="col-lg-4 control-label">Баланс</label>
									            <div class="col-lg-6"> 
									              <input ng-model="personal_transaction.personal_balance.balance" type="number" min="1" class="form-control" placeholder='Введите баланс' name="total" ng-required="true"> 
									            </div>
									          </div> -->
									          
									          <div class="form-group"> 
									          <label class="col-sm-4 control-label">Количество<span class="text-danger">*</span></label> 
									            <div class="col-sm-6">
													<input ng-model="personal_transaction.amount" type="number" min="1" class="form-control" placeholder='Введите общее' name="total" ng-required="true"> 
									            </div> 
									          </div>
									          <!-- 
									          <div class="form-group">
									          <label class="col-lg-4 control-label">Общая касса</label>
									            <div class="col-lg-6">
													<input ng-model="transaction.сase1.total" type="text" class="form-control" placeholder='Введите на сколько месяцев' name="total" ng-required="true"> 
									            </div>
									          </div> -->

											  <div class="form-group">
									          <label class="col-lg-4 control-label">Описание</label>
									            <div class="col-lg-6">
													<textarea ng-model="personal_transaction.description" type="text" row="3" class="form-control" placeholder='Введите описание' name="total" ng-required="true"></textarea> 
									            </div>
									          </div>
									          
									          <div class="form-group ">
									          	<div class="form-group" style="margin-left: 180px;">
									          		<button type="submit" class="btn btn-s-md btn-success" >Сохранить</button>
									            	<!-- <a href="#list">	
									            		<button  type="submit" class="btn btn-s-md btn-default">Назад</button>
									          		</a> -->
									          	</div>
									          </div>
										
								    </div>
								</div>   	
						</section>
					</div>
				</div>
		</form>
		</div>
		
	</div>
	</section>
</div>
</div>
</div>
