<div ng-controller="TransacrionListCtrl" ng-init="init()">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<div class="bg-default lter b-b wrapper-lg">
				<h1 class="m-n font-thin h3">Список основных операций</h1>
			</div>
			<div class="progress progress-xs m-b-none dker">
	            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
	        </div>
<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-lg-12 pull-left">
						
						<div class="col-lg-2 pull-left">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showName">
						                <i></i>
						                ФИ
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showTotal" checked>
							              <i></i>
							              Всего
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showDate" checked>
							              <i></i>
							              Дата
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showAmount" checked>
							              <i></i>
							              Количество
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showCategory" checked>
							              <i></i>
							              Категория
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showTransfer" checked>
							              <i></i>
							              Переводы
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showDescription" checked>
							              <i></i>
							              Описание
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showOption" checked>
							              <i></i>
							              Опции
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div> 
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">						
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="transaction in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="showName" data-title="'ФИ'" sortable="'name'" filter="{ 'name': 'text' }">{{transaction.person.name}} {{transaction.person.surname}}</td>
	                            <td ng-show="showTotal" data-title="'Всего'" sortable="'total'" class="text-center" filter="{ 'total': 'text' }">{{transaction.cashbox.total}}</td>
	                            <td ng-show="showDate" data-title="'Дата'" sortable="'date'" class="text-center">{{transaction.date |  date:'dd.MM.yyyy'}}</td>
	                            <td ng-show="showAmount" data-title="'Количество'" sortable="'amount'" class="text-center" filter="{ 'amount': 'text' }">{{transaction.amount}}</td>
	                            <td ng-show="showCategory" data-title="'Категория'" sortable="'category'" class="text-center" filter="{ 'category': 'text' }">{{transaction.transactionCategory.name}}</td>
	                            <td ng-show="showTransfer" data-title="'Переводы'" sortable="'no'" filter="{ 'no': 'text' } " class="text-center">
									<span ng-if="transaction.transactionCategory.income == 1 " ><i class="glyphicon glyphicon-arrow-up text-info"></i></br> Исходящий</span>
                            		<span ng-if="transaction.transactionCategory.income == 0 " ><i class="glyphicon glyphicon-arrow-down text-warning"></i></br>Входящий</span>
								</td> 
	                            <td ng-show="showDescription" data-title="'Описание'" sortable="'descrip'" class="text-center" filter="{ 'descrip': 'text' }">{{transaction.description}}</td>
	                          	<!-- <td ng-show="showOption" data-title="'Опции'" class="text-center">
	                            	 <a class="btn btn-sm btn-icon btn-warning"ui-sref="admin.transaction.edit({ id: transaction.id })" tooltip="Изменить" ><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deleteProduct(product.id )"><i class="glyphicon glyphicon-trash"></i></a>
								</td> -->
	                          </tr>
	                     </table>
						</div>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
</div>
</div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
	