<div ng-controller="PersonalTransacrionListCtrl">
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<div class="bg-default lter b-b wrapper-lg">
				<h1 class="m-n font-thin h3">Индидуальные операции</h1>
			</div>
			<div class="progress progress-xs m-b-none dker">
	            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
	        </div>
<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-lg-12 pull-left">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div> 
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="personal_transaction in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td data-title="'ФИ'" sortable="'name'" filter="{ 'name': 'text' }">{{personal_transaction.personalBalance.person.name +" "+ personal_transaction.personalBalance.person.surname}}</td>
	                            <td data-title="'Всего'" sortable="'total'" class="text-center" filter="{ 'total': 'text' }">{{personal_transaction.personalBalance.balance}}</td>
	                            <td data-title="'Дата'" sortable="'date'" class="text-center">{{personal_transaction.date |  date:'dd.MM.yyyy'}}</td>
	                            <td data-title="'Количество'" sortable="'amount'" class="text-center" filter="{ 'amount': 'text' }">{{personal_transaction.amount}}</td>
	                            <td data-title="'Категория'" sortable="'no'" filter="{ 'no': 'text' } " class="text-center">
									<span ng-if="personal_transaction.deposit == 1 " ><i class="glyphicon glyphicon-arrow-up text-info"></i></br>Исходящий</span>
                            		<span ng-if="personal_transaction.deposit == 0 " ><i class="glyphicon glyphicon-arrow-down text-warning"></i></br>Входящий</span>
								</td>
	                            <td data-title="'Описание'" sortable="'descrip'" class="text-center" filter="{ 'descrip': 'text' }">{{personal_transaction.description}}</td>
	                          </tr>
	                     </table>
						</div>
					</div>
					<div class="col-lg-4">
					
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
</div>
</div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
	