<div ng-controller="BuyRawMaterailListCtrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">		
			<div class="col-lg-12">
				<div class="bg-default lter b-b col-lg-5 panel-heading">
					<h1 class="m-n font-thin h3">Список Запросов</h1>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="progress progress-xs m-b-none dker ">
            	<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        	</div>
  			<div class="panel-body">
  				<div class="panel panel-warning" draggable="true">
					<div class="panel-heading"> Транспортировки 
						<div style="float:right	">
							<label class="i-switch bg-warning m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 ">
		  				<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
		                    <tr ng-repeat="purchase in $data" ng-class="{odd: $odd, even: $even}">
		                    	<td data-title="'#'">{{$index + 1}}.</td>
		                      <td data-title="'Дата запроса'" sortable="'statusDate.created'" >{{purchase.statusDate.created | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Дата подтверждения'" sortable="'statusDate.approveDate'">{{purchase.statusDate.approvedAdmin | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Дата отправки'" sortable="'statusDate.approvedFromPlace'">{{purchase.statusDate.approvedFromPlace | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Дата получения'" sortable="'statusDate.approvedToPlace'">{{purchase.statusDate.approvedToPlace | date: 'dd-MM-yyyy'}}</td>
							  <td data-title="'Статус'" sortable="'status.name'" filter="{ 'status.name': 'text' }" style="text-align:center"><span class="pull-right label inline m-t-sm shippingStatus_{{purchase.status.id}}">{{purchase.status.name | uppercase}}</span></td>
		                      <td data-title="'Общая сумма'" sortable="'totalPrice'" filter="{ 'totalPrice': 'text' }" style="text-align:center">{{(purchase.totalPrice != null)? purchase.totalPrice : '0'}} сом</td>
		                      <td data-title="'Описание'" sortable="'description'" filter="{ 'description': 'text' }">{{purchase.description}}</td>
		                      <td ><a ng-click="showPurchaseDetails(purchase.id)" class="btn btn-sm btn-icon btn-info"><i class="fa fa-list-alt"></i></a></td>
		                    </tr>
		                </table>
		            </div>
 		 		</div>
 		 		<div class="row">
					<div class="col-sm-12">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
					</div>
				</div>
 		 		<!-- <div class="panel panel-success" draggable="true" id="print"> -->
 		 		<div class="panel panel-success" draggable="true"  >
					<div id="naklHead" class="panel-heading"><b>Дата:</b>  {{shippingInfo.statusDate.create | date:"dd-MM-yyyy"}} || Cтатус: <span class="label inline m-t-sm shippingStatus_{{shippingInfo.status.id}}">{{shippingInfo.status.name | uppercase}}</span>
						<div style="float:right	">
						<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2" id="print" >
		  				<table id="nakl" style="border-spacing: 0px; border:1px solid green; width:100%" class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th style="border: 1px solid green !important;">Название</th>
                          	<th style="border: 1px solid green !important;">Единица измерения</th>
                          	<th style="border: 1px solid green !important;">Количество</th>
                          	<th style="border: 1px solid green !important;">Цена</th>
                          	<th style="border: 1px solid green !important;">Сумма</th>
                          </tr>
                          <tr ng-repeat="raw in purchaseRaws" value="{{raw.id}}" ng-class="{odd: $odd, even: $even}">
                            <td style="border: 1px solid green !important;">{{raw.raw.name}}</td>
                            <td style="border: 1px solid green !important;">{{raw.raw.unit.name}}</td>
                            <td style="border: 1px solid green !important;">{{raw.amount}}</td>
                            <td style="border: 1px solid green !important;"><input type="number" step="any" ng-model="raw.unitPrice" ng-value = "raw.unitPrice" ng-change="updateTotalPrice()"><!-- {{raw.unitPrice}}  -->сом</td>
                            <td style="border: 1px solid green !important;">{{(raw.unitPrice!=null)? raw.amount*raw.unitPrice : '0'}} сом</td>
						  </tr>
						</table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 	<div class="row">
						 		<lable><b>Общая сумма:{{totalPrice}} сом</b></lable>
						 	</div>
						 <div class="co-lg-7">
						 	<textarea value="{{product.purchase.description}}" disabled style="width:89%; height:40px" ng-model="purchaseInfo.description"></textarea>
						 	<!-- <button class="btn m-b-xs w-xs btn-danger btn-rounded button_{{purchaseInfo.id}} " id="button_cancel" style="margin-bottom:21px;" type="button" ng-click="purchaseCancel(purchase.id)" >Отменить</button> -->	
						 	<button class="btn m-b-xs w-xs btn-success btn-rounded button_{{purchaseInfo.id}} " id="button_approve" style="margin-bottom:21px;" type="button" ng-click="purchaseApprove(purchase.id)" >Подтвердить</button>		                    
						 </div>
		            </div>
		           </div>
 		 		<!-- </div> -->
 		 
			  </div>
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
	
