<style>
#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl>tbody>tr>th, #nakl>tbody>tr>td{
	border: 1px solid green !important;
}
#naklHead{
	border: 1px solid green !important;
}
</style>
<div ng-controller="ListRawRequestCtrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">		
			<div class="col-lg-12">
				<div class="bg-default lter b-b col-lg-5 panel-heading">
					<h1 class="m-n font-thin h3">Список Запросов</h1>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="progress progress-xs m-b-none dker ">
            	<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        	</div>
  			<div class="panel-body">
  				<div class="panel panel-warning" draggable="true">
					<div class="panel-heading"> Транспортировки 
						<div style="float:right	">
							<label class="i-switch bg-warning m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 ">
		  				<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
		                    <tr ng-repeat="purchase in $data" ng-class="{odd: $odd, even: $even}">
		                    	<td data-title="'#'">{{$index + 1}}.</td>
		                      <td data-title="'Дата Запроса'" sortable="'statusDate.created'">{{purchase.statusDate.created | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Дата Подтверждения'" sortable="'statusDate.approvedAdmin'">{{purchase.statusDate.approvedAdmin | date: 'dd-MM-yyyy'}}</td>
                              <td data-title="'Дата Отправки'" sortable="'statusDate.approvedFromPlace'">{{purchase.statusDate.approvedFromPlace | date: 'dd-MM-yyyy'}}</td>
		                      <td data-title="'Дата Получения'" sortable="'statusDate.approvedToPlace'">{{purchase.statusDate.approvedToPlace | date: 'dd-MM-yyyy'}}</td>
                              <td data-title="'Статус'" sortable="'status.name'" filter="{ 'status.name': 'text' }"><span class="pull-right label inline m-t-sm shippingStatus_{{purchase.status.id}}">{{purchase.status.name | uppercase}}</span></td>
		                      <td data-title="'Cумма'" sortable="'purchase.totalPrice'" filter="{ 'purchase.totalPrice': 'text' }" style="text-align:center">{{(purchase.totalPrice != null)? purchase.totalPrice : '0'}} сом</td>
		                      <td data-title="'Описание'" sortable="'description'" filter="{ 'description': 'text' }">{{purchase.description}}</td>
		                      <td >
		                      		<a ng-if="purchase.status.name == 'Запрос' || purchase.status.name == 'Отменен администратором'" ui-sref="production_manager.raw_material_request.edit({ id: purchase.id })" class="btn btn-sm btn-icon btn-warning"><i tooltip="Изменить" class="fa fa-pencil"></i></a>
		                      		<a ng-click="showShippingDetails(purchase.id)" tooltip="Подробнее" class="btn btn-sm btn-icon btn-primary"><i class="fa fa-list-alt"></i></a></td>
		                    </tr>
		                </table>
		            </div>
 		 		</div>
 		 		<div class="row">
					<div class="col-sm-12">
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-print pull-right"></i>Распечатать PDF</button>
					</div>
				</div>
 		 		<div class="panel panel-success" draggable="true" id="print">
 		 		<div class="panel panel-success" style="width:100%;">
					<div id="naklHead" class="panel-heading"><b>Дата:</b>  {{shippingInfo.statusDate.create | date:"dd-MM-yyyy"}} || Cтатус: <span class="label inline m-t-sm shippingStatus_{{shippingInfo.status.id}}">{{shippingInfo.status.name | uppercase}}</span>
						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2">
		  				<table id="nakl" style="border-spacing: 0px; border:1px solid green; width:100%" class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th style="border: 1px solid green !important;">Название</th>
                          	<th style="border: 1px solid green !important;" >Единица измерения</th>
                          	<th style="border: 1px solid green !important;">Количество</th>
                          	<th style="border: 1px solid green !important;">Цена</th>
                          	<th style="border: 1px solid green !important;">Сумма</th>
                          </tr>
                          <tr ng-repeat="raw in shippingRaws" value="{{raw.id}}" ng-class="{odd: $odd, even: $even}">
                            <td style="border: 1px solid green !important;">{{raw.raw.name}}</td>
                            <td style="border: 1px solid green !important;">{{raw.raw.unit.name}}</td>
                            <td style="border: 1px solid green !important;">{{raw.amount}}</td>
                            <td style="border: 1px solid green !important;">{{raw.unitPrice}} сом</td>
                            <td style="border: 1px solid green !important;">{{raw.unitPrice * raw.amount}} сом</td>
						  </tr>
						</table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 	<lable><b>Общая сумма:{{shippingInfo.totalPrice}} сом</b></lable>
						 <div class="co-lg-7">
						 	<textarea value="{{product.shipping.description}}" disabled style="width:75%; height:40px" ng-model="shippingInfo.description"></textarea>
						 	<button class="btn m-b-xs w-xs btn-danger btn-rounded button_{{shippingInfo.id}} " id="button_cancel" style="margin-bottom:21px;" type="button" ng-click="shippingCancel(shippingInfo.id)" >Отменить</button>	
						 	<button class="btn m-b-xs w-xs btn-success btn-rounded button_{{shippingInfo.id}} " id="button_approve" style="margin-bottom:21px;" type="button" ng-click="shippingApprove(shippingInfo.id)" >Подтвердить</button>		                    
						 </div>
		            </div>
		           </div>
 		 		</div>
			  </div>
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>