#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl table>tbody>tr>th, #nakltable>tbody>tr>td{
	border: 1px solid green !important;
}
#naklHead{
	border: 1px solid green !important;
}