<div ng-controller="productRawRequestCtrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<form class="form-inline" ng-submit="saveSendList()">
		
	<div  id="places" class="col-lg-12">
		<div class="bg-default lter b-b col-lg-5 panel-heading">
			<h1 class="m-n font-thin h3">Запросить сырье по продукций</h1>
		</div>
		<div class="col-lg-7">
  				<div class="col-lg-12 panel-heading">
			         <div class="form-group">
			          <div class="col-sm-10">
			            <div class="input-group w-md">
			              <input type="text" class="form-control" value="{{date |  date:'dd-MM-yyyy'}}"disabled is-open="closed" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </div>
			          </div>
			        </div>
			        <div class="form-group">
			         <select ng-model="placeByToPlaceId" name="productType" class="form-control" >
			         	<option value="-1">Пункт Назначения</option>
		                <option ng-repeat="place in places" ng-value="place.id" ng-selected="placeByToPlaceId2 == place.id">
		                {{place.name}}
		                </option>
		              </select> 
   					</div>
				</div>
		</div>
	</div>
		<div style="clear:both"></div>
		<div class="progress progress-xs m-b-none dker ">
            <div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body" id="raw_product_panels">
  				<div id="product_list_panel" class="panel panel-info" draggable="true">
					<div class="panel-heading"> Список Продукций 
						<div style="float:right	">
							<label class="i-switch bg-info m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 ">
		  				<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
		                    <tr ng-repeat="product in $data" ng-class="{odd: $odd, even: $even}">
		                      <td data-title="'#'">{{$index + 1}}.</td>
		                      <td data-title="'Название'" sortable="'name'" filter="{ 'name': 'text' }">{{product.name}}</td>
		                      <td data-title="'Тип'" sortable="'productType.name'" filter="{ 'productType.name': 'text' }">{{product.productType.name}}</td>
		                      <td data-title="'Категория'" sortable="'productType.productCategory.name'" filter="{ 'productType.productCategory.name': 'text' }">{{product.productType.productCategory.name}}</td>
		                      <td data-title="'Объем'" sortable="'capacity.capacity'" filter="{ 'capacity.capacity': 'text' }">{{product.capacity.capacity}}</td>
		                      <td data-title="'Газированный'" sortable="'product.productType.fizzy'" ><div class="checkbox">
					              <label class="i-checks i-checks-sm"><input type="checkbox" name="a" ng-model="product.productType.fizzy" disabled><i></i></label></div></td>
		                      <td data-title="'Количество'" ><input type="number" ng-model="sendProduct.amount" /></td>
		                      <td ><button class="btn m-b-xs w-xs btn-info btn-rounded button_{{product.id}}" type="button" ng-click="addToSendList(product.id,sendProduct.amount)" >Добавить</button></td>
		                    </tr>
		                </table>
		            </div>
 		 		</div>
 		 		<div id="selected_product_panel" class="panel panel-warning" draggable="true">
					<div class="panel-heading"> Список Выбранных Продукций
						<div style="float:right	">
							<label class="i-switch bg-warning m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(3)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_3">
		  				<table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>Название</th>
                          	<th>Тип</th>
                          	<th>Категория</th>
                          	<th>Объем</th>
                          	<th>Газированный</th>
                          	<th>Количество</th>
                          </tr>
                          <tr ng-repeat="product in sendProducts" value="{{product.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{product.name}}</td>
                            <td >{{product.productType.name}}</td>
                            <td >{{product.productType.productCategory.name}}</td>
                            <td >{{product.capacity.capacity}}</td>
                            <td ><div class="checkbox"><label class="i-checks i-checks-sm">
                            	<input type="checkbox" name="a" ng-model="product.productType.fizzy" disabled><i></i></label></div></td>
                            </td>
                            <td >{{product.amount}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a ng-click="cancelProduct(product.id)" data-toggle="modal" tooltip="Delete" data-placement="top"> <i class="icon-trash"></i></a> 
                                	<a href="javascript:void(0)" onclick="deleteType(type.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<button style="float:right" class="btn m-b-xs w-xs btn-warning btn-rounded tableSubmit" type="button" ng-click="countRaw()">Показать <br> сырье</button>
		            	</div>
		            	<div style="clear:both"></div>
		            </div>
 		 		</div>
 		 		<div id="print_table" class="panel panel-success" draggable="true">
					<div class="panel-heading"> Список Выбранного Сырья
						<div style="float:right	">
							
     						<a ng-click="exportData();" tooltip="Экспорт в Excel"><i style="margin: 0px 10px 5px 0px;" class="glyphicon  glyphicon-export icon text-success"></i></a>
     						<a onclick="window.print();" tooltip="Печать"><i style="margin: 0px 10px 5px 0px;" class="glyphicon  glyphicon-print icon text-success"></i></a>
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2" id="exportable">
		  				<table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>Название</th>
                          	<th>Единица измерения</th>
                          	<th>Количество</th>
                          </tr>
                          <tr ng-repeat="raw in sendRaws" value="{{raw.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{raw.name}}</td>
                            <td >{{raw.unit.name}}</td>
                            <td >{{raw.amount | number:5}}</td>
                           <!--  <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a ng-click="cancelRaw(product.id)" data-toggle="modal" tooltip="Delete" data-placement="top"> <i class="icon-trash"></i></a> 
                                	<a href="javascript:void(0)" onclick="deleteType(type.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td> -->
							</tr>
						 </table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<textarea placeholder="Описание" style="width:89%; height:40px" ng-model="description"></textarea>
						 	<button id="approve_btn" style="float:right" class="btn m-b-xs w-xs btn-success btn-rounded tableSubmit" type="submit">Отправить</button>
		            	</div>
		            </div>
 		 		</div>
			  </div>
		   	</form>	
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>