<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Зав.Склада</span>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tint icon text-info"></i>
      <span class="font-bold ptsans">Продукция</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="warehouse_manager.products.list">Список продукций</a>
      </li>
    </ul>
  </li>
   <li>
  <a class="auto">      
      <i class="fa fa-truck icon text-success"></i>
      <span class="font-bold">Транспортировка</span>
    </a>
     <ul class="nav nav-sub dk">
      <li  ui-sref-active="active">
        <a ui-sref="warehouse_manager.shipping.list">
        	<span>Список Транспортировок</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="warehouse_manager.shipping.add">
          <b class="label bg-info pull-right">+</b>
          <span>Совершить Транспортировку</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="warehouse_manager.shipping.request">
          <b class="label bg-info pull-right">+</b>
          <span>Запросить Продукцию</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="warehouse_manager.shipping_19.tar_send">
          <span>Отправка тар</span>
        </a>
      </li>
    </ul>
   </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-primary"></i>
      <span class="font-bold ptsans">Дистрибуция</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="warehouse_manager.distribution.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="warehouse_manager.distribution.add">
          <b class="label bg-info pull-right">+</b>
          <span>Создать</span>
        </a>
      </li>
      
    </ul>
  </li>
  
  <li>
    <a class="auto">      
      <i class="fa fa-truck icon text-info"></i>
      <span class="font-bold">Производство 19</span>
    </a>
     <ul class="nav nav-sub dk">
      <li  ui-sref-active="active">
        <a ui-sref="warehouse_manager.shipping_19.list">
        	<span>Список Запросов 19</span>
        </a>
      </li>
	<li  ui-sref-active="active">
        <a ui-sref="warehouse_manager.shipping_19.list_empty">
        	<span>Список Запросов 19 тар</span>
        </a>
      </li>
    </ul>
   </li>
 
 <!--   <li ui-sref-active="active">
    <a ui-sref="production_manager.defect.list" class="auto">      
      <i class="glyphicon glyphicon-link icon text-danger-dker"></i>
      <span class="font-bold">Дефект</span>
    </a>
   </li> -->
   
</ul>
<!-- / list -->
