<div ng-controller="InventoryEditCtrl">
<div class="row">
		<div class="col-lg-12">
			<section class="panel">
				<div class="bg-default lter b-b wrapper-lg">
					<h1 class="m-n font-thin h3">Изменить инвентарь</h1>
				</div>
				<div class="progress progress-xs m-b-none dker">
					<div class="progress-bar progress-bar-success"
						data-toggle="tooltip" data-original-title="50%"
						style="width: 100%"></div>
				</div>
	<div class="panel">
		<div class="panel-body">
		<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
			<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-dark ">Доролнительно</header>
							<div class="panel-body">
									<div class="col-lg-12">
														  
						          <div class="form-group">
						          <label class="col-lg-4 control-label">№</label>
						            <div class="col-lg-6">
										 <input type="text" placeholder="" class="form-control" ng-model="inventory.inventoryNo">
						            </div>
						          </div>
						          <div class="form-group">
						          <label class="col-lg-4 control-label">Дата создания</label>
						            <div class="col-lg-6">
						            	<p class="input-group mydatepicker">
										 <input ng-model="inventory.startDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
								    	<span class="input-group-btn">
								      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								    	</span>
									  	</p>
									</div>
						          </div>
						          <div class="form-group">
						          <label class="col-lg-4 control-label">Место</label>
						            <div class="col-lg-6"> 
						              <select ng-model="inventory.place.id" class="form-control" select>
					                	<option  ng-selected="inventory.place.id == place.id" 
					                	ng-repeat="place in places" 
					                	ng-value="place.id">{{place.name}}</option>
						              </select>  
						            </div>
						          </div>
						          <div class="form-group">
							          <label class="col-lg-4 control-label">Ответственный</label>
							            <div class="col-lg-6"> 
							              <select ng-model="inventory.person.id" class="form-control" select>
							                <option ng-selected="inventory.person.id == person.id" 
							                ng-repeat="person in persons" ng-value="person.id" >
							                {{person.name+" "+person.surname}}</option>
							              </select>  
							            </div>
							          </div>
						          <div class="form-group">
						          <label class="col-lg-4 control-label">Экземпляр</label>
						            <div class="col-lg-6"> 
						              <select ng-model="inventory.inventoryType.id" class="form-control" select>
					                	<option  ng-selected="inventory.inventoryType.id == inventory_type.id" 
					                	ng-repeat="inventory_type in inventory_types" 
					                	ng-value="inventory_type.id">{{inventory_type.name}}</option>
						              </select>  
						            </div>
						          </div>
						          <div class="form-group">
						          <label class="col-lg-4 control-label">Цена</label>
						            <div class="col-lg-6">
										 <input ng-model="inventory.price" type="number" min="1" class="form-control" placeholder='Введите цену' name="number"  />
						            </div>
						          </div>
						          <div class="form-group">
						          <label class="col-lg-4 control-label">Статус</label>
						            <div class="col-lg-6"> 
						              <select ng-model="inventory.inventoryStatus.id" class="form-control" select>
					                	<option  ng-selected="inventory.inventoryStatus.id == inventory_status.id" 
					                	ng-repeat="inventory_status in inventory_statuses" 
					                	ng-value="inventory_status.id">{{inventory_status.name}}</option>
						              </select>  
						            </div>
						          </div>
						          <div class="form-group">
						          <label class="col-lg-4 control-label">Дата списания</label>
						            <div class="col-lg-6">
						            	<p class="input-group mydatepicker">
											 <input ng-model="inventory.endDate" type="text" class="form-control" datepicker-popup="{{datepicker2.format}}" ng-model="dt" is-open="datepicker2.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker2.dateOptions" close-text="Close" />
										    	<span class="input-group-btn">
										      		<button type="button" class="btn btn-default" ng-click="datepicker2.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										    	</span>
									  	</p>
											</div>
						          </div>
						          <div class="form-group">
						          <label class="col-lg-4 control-label">Описание</label>
						            <div class="col-lg-6">
										<textarea ng-model="inventory.description" type="text" row="3" class="form-control" 
													placeholder='Введите описание' name="total"></textarea> 
						            </div>
						          </div>
						          <div class="form-group ">
						          	<div class="form-group" style="margin-left: 180px;">
						          		<button type="submit" class="btn btn-s-md btn-success" >Сохранить</button>
						          	</div>
						          </div>
								    </div>
								</div> 	
						</section>
					</div>
				</div>
			</form>
		</div>
	</div>
	</section>
</div>
</div>
</div>