<div ng-controller="StaffListCtrl" ng-init="init()">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-12">
						
						<div class="col-lg-2 pull-left">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showName">
						                <i></i>
						                Имя
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showSurname" checked>
							              <i></i>
							              Фамилия
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showPosition" checked>
							              <i></i>
							              Должность
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showPhone" checked>
							              <i></i>
							              Телефон
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showPassport" checked>
							              <i></i>
							              Паспорт
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showSalary" checked>
							              <i></i>
							              ЗП
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showCashbox" checked>
							              <i></i>
							              Касса
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showOffice" checked>
							              <i></i>
							              Штатный
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div>	
					<div class="col-sm-12">
				      <div class="panel panel-default">
						<table ng-table="tableParams" id="exportable" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="staff in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="showName" data-title="'Имя'" sortable="'name'" filter="{ 'name': 'text' }" class="text-center">{{staff.name}}</td>
	                            <td ng-show="showSurname" data-title="'Фамилия'" sortable="'surname'" filter="{ 'surname': 'text' }" class="text-center">{{staff.surname}}</td>
	                            <td ng-show="showPosition" data-title="'Должность'" sortable="'position'" filter="{ 'position': 'text' }" class="text-center">{{staff.position.name}}</td>
	                            <td ng-show="showPhone" data-title="'Тел.номер'" sortable="'phone'" filter="{ 'phone': 'text' }" class="text-center">{{staff.phone}}</td>
	                            <td ng-show="showPassport" data-title="'Паспорт'" sortable="'passport'" filter="{ 'passport': 'text' }" class="text-center">{{staff.passport}}</td>
	                            <td ng-show="showSalary" data-title="'ЗП'" sortable="'salary'" filter="{ 'salary': 'text' }" class="text-center">{{staff.salary}} сом</td> 
	                            <td ng-show="showCashbox" data-title="'Касса'" sortable="'caseType'" filter="{ 'caseType': 'text' }" class="text-center">{{staff.caseType.name}}</td>
	                          	<td ng-show="showOffice" data-title="'Штатный'" sortable="'outsource'" class="text-center">
	                            	<span ng-if="staff.outsource == 1 " ><i class="glyphicon glyphicon-ok text-success"></i></span>
                            		<span ng-if="staff.outsource == 0 " ><i class="glyphicon glyphicon-minus text-danger"></i></span>
                            	</td>
	                          	<!-- <td data-title="'Операции'" class="text-center" style="min-width: 120px">
	                            	 <a class="btn btn-sm btn-icon btn-warning" ui-sref="manager.staff.edit({ id: staff.id })"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deleteStaff(staff.id )"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td> -->
	                          </tr>
	                      </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>