<div ng-controller="InstallmentAddCtrl">
<div class="row">
		<div class="col-lg-12">
			<section class="panel">
				<div class="bg-default lter b-b wrapper-lg">
					<h1 class="m-n font-thin h3">Добавить взнос</h1>
				</div>
				<div class="progress progress-xs m-b-none dker">
					<div class="progress-bar progress-bar-success"
						data-toggle="tooltip" data-original-title="50%"
						style="width: 100%"></div>
				</div>
	<div class="panel">
		<div class="panel-body">
		<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
			<!-- <div class="col-sm-6">
				<section class="panel">
				<header class="panel-heading bg-dark" >Список сотрудников</header>
						<div class="line line-dashed line-lg pull-in"></div>
						<div class="table-responsive">
								<table class="table table-striped m-b-none">
									<thead>
										<tr role="row">
											<td style="font-weight: 600" >№</td>
											<td style="font-weight: 600" >Выбор</td>
											<td style="font-weight: 600">Имя</td>
											<td style="font-weight: 600">Фамилия</td>
										</tr>
									</thead>
									<tbody role="alert" aria-live="polite" aria-relevant="all">
										<tr ng-repeat="staff in staffs" value="{{staff.id}}" ng-class="{odd: $odd, even: $even}">
											<td>{{$index + 1}}.</td>
											<td rowspan="1" colspan="1">
												<label class="i-checks">
													<input ng-model="installment.staff.id" value="{{staff.id}}" type="radio">
													<i></i>
												</label>
											</td>
											<td rowspan="1" colspan="1">{{staff.name}}</td>
											<td rowspan="1" colspan="1">{{staff.surname}}</td>
										</tr>
									</tbody>
								</table>
							<div class="form-group"></div>
						</div>
				</section>
			</div>-->
			<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-dark ">Добавление рассрочки</header>
							<div class="panel-body">
									<div class="col-lg-12">
									<!-- <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">   -->
									       

											 <div class="form-group">
									            <label class="col-lg-4 control-label">Ответственный<span class="text-danger">*</span></label>
									            <div class="col-lg-6">  
									              <select ng-model="installment.staff.id" name="name" class="form-control" 
									              		  placeholder='Выберите ответственного' name="total" ng-required="true">
									              		<option  
								                				 ng-repeat="staff in staffs"  value="{{staff.id}}" select>
								                 	             {{staff.name}} {{staff.surname}}
														</option>									          
									              	</select>
									            </div>
									          </div>
									          
									          <div class="form-group">
									          <label class="col-lg-4 control-label">Дата</label>
									            <div class="col-lg-6">
									            	<p class="input-group mydatepicker">
														 <input ng-model="installment.startDate" type="text" class="form-control " datepicker-popup="{{datepicker.format}}" 
														 ng-model="dt" id="mydate" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'"  
														 datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
													    	<span class="input-group-btn">
													      		<button type="button" class="btn btn-default " ng-click="datepicker.open($event)">
													      		<i class="glyphicon glyphicon-calendar"></i></button>
													    	</span>
												  	</p>
			  									</div>
									          </div>
									          
									           <div ng-repeat="o in somemodel">
												 <label>Date Label</label>  
												    <div class="input-group">
												     <input type="text" class="form-control" datepicker-popup="{{format}}"
												            name="dt{{o}}" ng-model="datepickers.data[o]" 
												            is-open="datepickers.isopen[o]" datepicker-options="datepickers.option" 
												            ng-required="true" close-text="Close" />
												      <span class="input-group-btn">
												        <button class="btn btn-default" ng-click="open($event,o)">
												            <i class="glyphicon glyphicon-calendar"></i></button>
												      </span>
												    </div>
												  </div>
									          
									          <div class="form-group"> 
									          <label class="col-sm-4 control-label">Суммарный<span class="text-danger">*</span></label> 
									            <div class="col-sm-6">
													<input ng-model="installment.total" type="number" min="1" class="form-control" placeholder='Введите сумму' 
													name="total" ng-required="true"> 
									            </div> 
									          </div>
									          <div class="form-group">
									          <label class="col-lg-4 control-label">Срок рассрочки</label>
									            <div class="col-lg-6">
													<input ng-model="installment.installmentPeriod" type="number" min="1" class="form-control" 
													placeholder='Введите на сколько месяцев' name="total" ng-required="true"> 
									            </div>
									          </div>
									          <div class="form-group ">
									          	<div class="form-group" style="margin-left: 205px;">
									          		<button type="submit" class="btn btn-s-md btn-success" >Сохранить</button>
									          	</div>
									          </div>
										
								    </div>
								</div> 	
						</section>
					</div>
				</div>
		</form>
		</div>
	</div>
	</section>
</div>
</div>
</div>