<div ng-controller="InstallmentListCtrl" ng-init="init()">

<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			        
	        <div class="r bg-default dker item hbox no-border">
               	<div class="bg-default wrapper-lg">
					<h1 class="m-n font-thin h3">Рассрочка</h1>
				</div>
                <div class="col w-xs v-middle hidden-md">
                    <!-- <div ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline"></div> -->
                </div> 
                <div class="col dk padder-v wrapper-lg">
                    <div class="text-primary-dk font-thin h4 text-right"  ng-repeat="cashbox in cashboxs" >
                    <div ng-model="cashbox.total">{{cashbox.name+"  "+cashbox.total}}&nbsp;<span class="text-primary-dk font-thin h5">сом</span></div></div>
                    <div class="text-muted text-xs text-right"><span>Общая сумма</span></div>
                </div>
              </div>
        
          
			<div class="progress progress-xs m-b-none dker">
	            <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
	        </div>
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
		<div class="col-lg-2 pull-left">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showBl" checked>
						                <i></i>
						                #
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="showName" checked>
						                <i></i>
						                Имя
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showSurname" checked>
							              <i></i>
							              Фамилия
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showOst" checked>
							              <i></i>
										 Остаток
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showDate" checked>
							              <i></i>
							              Дата
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showSum" checked>
							              <i></i>
							              Общая сумма
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="showSroc" checked>
							              <i></i>
							              Срок рассрочки
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="installment in $data " ng-class="{odd: $odd, even: $even}">
	                          	<td ng-show="showBl"data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="showName"data-title="'Имя'" sortable="'staff.name'" filter="{ 'staff.name': 'text' }">{{installment.staff.name}}</td>
	                            <td ng-show="showSurname"data-title="'Фамилия'" sortable="'staff.surname'" filter="{ 'staff.surname': 'text' }">{{installment.staff.surname}}</td>
	                            <td ng-show="showOst"data-title="'Остаток'" class="text-center" sortable="'leftAmount'"  filter="{ 'leftAmount': 'text' }">{{installment.leftAmount!=0?(installment.leftAmount).toFixed(2) : 0}}</td>
								<td ng-show="showDate"data-title="'Дата'" sortable="'startDate'" class="text-center">{{installment.startDate |  date:'dd.MM.yyyy'}}</td>
	                            <td ng-show="showSum"data-title="'Общая сумма'"  class="text-center" sortable="'total'" filter="{ 'total': 'text' }">{{installment.total}}</td>
	                            <td ng-show="showSroc"data-title="'Срок рассрочки'"  class="text-center" sortable="'installmentPeriod'" filter="{ 'installmentPeriod': 'text' }">{{installment.installmentPeriod}}</td>
	                          </tr>
	                     </table>
						</div>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>

</div>
</div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
