<div ng-controller="ProductCategoryAddCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading font-bold">Добавить новую категорию</div>
								<div class="panel-body">
									<form class="bs-example form-horizontal ng-pristine ng-valid" role="form" ng-submit="create()">
										<div class="form-group">
	 										<label class="col-lg-3 control-label">Название</label>
	            								<div class="col-lg-9">
	            									<input type="text" ng-model="productCategory.name" class="form-control">
	           									</div>
	           							</div>
				            			<div class="form-group">
								            <label class="col-lg-3 control-label"></label>
								         	<div class="col-lg-9">
												<button class="btn btn-sm btn-info" type="submit">Сохранить</button>
								          	</div>
								      	</div>
          							</form>
        						</div>
      					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
</div>