<!-- list -->
<div id="aside-user" class="clearfix hidden-xs text-center hide">
      <div dropdown="" class="dropdown wrapper">
        <a ui-sref="profile" href="profile">
          <span class="thumb-lg w-auto-folded avatar m-t-sm">
            <img alt="..." class="img-full" src="../../assets/img/a0.jpg">
          </span>
        </a>
        <a dropdown-toggle="" class="dropdown-toggle hidden-folded" href="" aria-haspopup="true" aria-expanded="false">
          <span class="clear">
            <span class="block m-t-sm">
              <strong class="font-bold text-lt">{{userInfo.name}} {{userInfo.surname}}</strong> 
              <b class="caret"></b>
            </span>
            <span class="text-muted text-xs block">{{userInfo.position.name}}</span>
          </span>
        </a>
      </div>
      <div class="line dk hidden-folded"></div>
    </div>
    
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"></li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tint icon text-info"></i>
      <span class="font-bold ptsans">Продукция</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Продукция</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.list">Список продукций</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.cat_list">Список категорий</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.cat_add">
			<b class="label bg-info pull-right">+</b>
          	<span>Добавить категорию</span>
          </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.type_list">Типы продуктов</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.type_add">
			<b class="label bg-info pull-right">+</b>
          	<span>Добавить тип</span>
          </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product.bottleingredient">19 Бутыль</a>
      </li>
    </ul>
  </li>
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-cube icon text-info"></i>
      <span class="font-bold">Сырье</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Сырье</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.raw_material.list">Список cырья</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.raw_material.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.raw_material.plist">Список запросов</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.raw_material.rlist">Количество сырья</a>
      </li>
    </ul>
  </li>
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-flask text-info"></i>
      <span class="font-bold">Производство 19</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Производство 19</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.bottle_purchase.prod_request">Список запросов 19</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.bottle_purchase.list">Список запросов 19 тар</a>
      </li>
    </ul>
  </li> 
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-refresh text-info"></i>
      <span class="font-bold">Производство</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Производство</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.production_request.list">Список </a>
      </li>
      <!-- <li ui-sref-active="active">
        <a ui-sref="admin.production_request.distribution">Дистрибуция</a>
      </li> -->
    </ul>
  </li> 
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-circle text-info"></i>
      <span class="font-bold">Дистрибуция</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Дистрибуция</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.distribution.distribution">Список</a>
      </li>
    </ul>
  </li> 
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-car text-info"></i>
      <span class="font-bold">Транпортировка</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Транпортировка</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.transportation.list">Список</a>
      </li>
    </ul>
  </li> 
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-map-marker icon text-info"></i>
      <span class="font-bold">Место</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product_place.list">Список мест</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.product_place.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li>
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-info"></i>
      <span class="font-bold">Сотрудники</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Все сотрудники</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.staff.list">Список сотрудников</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.staff.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить нового</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.staff.users_list">Список пользовательей</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.staff.managerlist">19 Бутыль менеджер</a>
      </li>
    </ul>
  </li>
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-info"></i>
      <span class="font-bold">Партнеры</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Все партнеры</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.partner.list">Список партнеров</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.partner.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить нового</span>
        </a>
      </li>
    </ul>
  </li>
  
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th icon text-info"></i>
      <span class="font-bold">Объем</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Объем</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.capacity.list">Список</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.capacity.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li>
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-inbox icon text-info"></i>
      <span class="font-bold">Инвентарь</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Список инвентаря</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.inventory.list">Список инвентаря</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.inventory.listS">Список списанных инвентарей</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.inventory.type_list">Количество инвентаря</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.inventory.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li>
      <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-retweet icon text-info"></i>
      <span class="font-bold">Операции</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Список транзакций</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.transaction.list">Список основных</a>
      </li>
      <li class="nav-sub-header">
        <a href>Индивидуальный</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.transaction.listp">Индивидуальный</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.transaction.del_list">Удалить основные</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.transaction.del_listp">Удалить индивидуальные</a>
      </li>
    </ul>
  </li>
<!--   <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-trash icon text-info"></i>
      <span class="font-bold">Удалить транзакции</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Список транзакций</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.transaction_delete.list">Список транзакций</a>
      </li>
      <li class="nav-sub-header">
        <a href>Удалить транзакций работника</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.transaction_delete.listp">Удалить транзакций работника</a>
      </li>
    </ul>
  </li> -->
 <!--  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-truck icon text-info"></i>
      <span class="font-bold">Отмена перевозки</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Отмена перевозки</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.shipping_cancel.list">Запросы на отмену</a>
      </li>
    </ul>
  </li> -->
  
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-cog fa-spin text-info"></i>
      <span class="font-bold">Настройки</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Настройки</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.settings.list">Должности</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.settings.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.settings.acclist">Кассы</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.settings.accadd">Добавить ответственного за кассу</a>
      </li>
    </ul>
  </li>

  <li class="line dk"></li>

  <!-- <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >русский тест</span>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <b class="badge bg-info pull-right">3</b>
      <i class="glyphicon glyphicon-th"></i>
      <span>grouping</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>grouping</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.app">
          <span>group</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.fullwidth">
          <span>group 2</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.mobile">
          <span>group 3</span>
        </a>
      </li>      
    </ul>
  </li> -->
</ul>
<!-- / list -->
