<div ng-controller="BalanceListCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<form class="bs-example form-horizontal ng-pristine ng-valid" role="form"  ng-submit="getTable()">
					<div class="col-lg-6">
				      	<div class="form-group">
				          	<label class="col-lg-1 control-label">С:</label>
				            <div class="col-lg-4">
				            	<p class="input-group mydatepicker">
									 <input ng-model="fromDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" ng-required="true" close-text="Close" />
								    	<span class="input-group-btn">
								      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								    	</span>
							  	</p>
							</div>
				          	<label class="col-lg-1 control-label">ПО:</label>
				            <div class="col-lg-4">
				            	<p class="input-group mydatepicker">
									 <input ng-model="toDate" type="text" class="form-control" datepicker-popup="{{datepicker2.format}}" ng-model="dt" is-open="datepicker2.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker2.dateOptions" ng-required="true" close-text="Close" />
								    	<span class="input-group-btn">
								      		<button type="button" class="btn btn-default" ng-click="datepicker2.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								    	</span>
							  	</p>
							</div>
				         	<div class="col-lg-2">
								<button class="btn btn-sm btn-info" type="submit">Найти</button>
				          	</div>
						</div>
				    </div>
				    <div class="col-lg-2">
		          		<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div>
				    </form>
				    
				</div>
				<div class="row">
					<div class="col-sm-8">
				      <div class="panel panel-default">
				      <table class="table table-striped m-b-none dataTable" id="exportable">
	                          <tr>
	                          	<td>Категория</td>
	                          	<td class="text-center">Доход/Расход</td>
	                          	<td ng-repeat="category in categories"><b>{{category.cashboxName}}</b></td>
	                          </tr>
	                          <tr ng-repeat="bycategory in bycategories">
	                          	<td>{{bycategory.transactionCategoryVO.name}}</td>
	                          	<td class="text-center">
	                            	<span ng-if="bycategory.transactionCategoryVO.income == 1 " ><div class="text-success-dk">Доход</div></span>
                            		<span ng-if="bycategory.transactionCategoryVO.income == 0 " ><div class="text-danger">Расход</div></span>
                            	</td>
	                          	<td ng-repeat = "balance in bycategory.debitCreditBalanceList">{{balance.balance}}</td>
	                          </tr>
	                     </table>
	                     <script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>
	                   
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

