<div ng-controller="ProductTypeEditCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading font-bold">Изменить тип продукта</div>
								<div class="panel-body">
									<form class="bs-example form-horizontal ng-pristine ng-valid" role="form" ng-submit="update()">
										<div class="form-group">
	 										<label class="col-lg-3 control-label">Название</label>
	            								<div class="col-lg-9">
	            									<input type="text" ng-model="product_type.name" class="form-control" value="product_type.name">
	           									</div>
	           							</div>
	           							<div class="form-group">
								          <label class="col-lg-3 control-label">Категория</label>
								            <div class="col-lg-6"> 
								              <select ng-model="product_type.productCategory.id" class="form-control" select>
								              	<option value="">Выберите...</option>
								                <option ng-selected="product_type.productCategory.id == category.id" ng-repeat="category in categories" ng-value="category.id">{{category.name}}</option>
								              </select>  
								            </div>
								          </div>
		            					<div class="form-group">
		            					<label class="col-lg-3 control-label">Газированный</label>
		            					<div class="col-lg-9">
			            					<div class="checkbox">
							                  <label class="i-checks">
							                    <input type="checkbox" ng-model="product_type.fizzy" checked=""><i></i>
							                  </label>
							                </div>
							             </div>
							           </div>
				            			<div class="form-group">
								            <label class="col-lg-3 control-label"></label>
								         	<div class="col-lg-9">
												<button class="btn btn-sm btn-info" type="submit">Обновить</button>
								          	</div>
								      	</div>
          							</form>
        						</div>
      					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
</div>