<div ng-controller="ProductTypeListCtrl">

	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="type in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td data-title="'Название'" sortable="'name'" filter="{ 'name': 'text' }" class="text-center">{{type.name}}</td>
	                          	<td data-title="'Опции'" class="text-center">
	                            	 <a class="btn btn-sm btn-icon btn-warning" ui-sref="admin.product_type.edit({ id: type.id })" tooltip="Изменить"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deleteType(type.id )" tooltip="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
	                          </tr>
	                    </table>
						</div>
					</div>
					<div class="col-lg-6">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>