<div ng-controller="LostBottleAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-6">
				      <div class="panel panel-default">
				        <div class="panel-heading font-bold">Добавить потерянную бутыль</div>
				        <div class="panel-body">
				          <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				            
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Дата</label>
					            <div class="col-lg-6">
					            	<p class="input-group mydatepicker">
										 <input ng-model="lostBottle.date" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
									    	<span class="input-group-btn">
									      		<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									    	</span>
								  	</p>
										</div>
					          </div>
				             <div class="form-group">
					          <label class="col-lg-3 control-label">Количество</label>
					            <div class="col-lg-6">
									 <input ng-model="lostBottle.amount" type="number" min="1" class="form-control" placeholder='Введите количество' name="number"  />
					            </div>
					          </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Договор</label>
					            <div class="col-lg-6"> 
					              <select ng-model="lostBottle.agreement.id" class="form-control" select>
					              	<option value="">Выберите...</option>
					                <option ng-repeat="agreement in agreements" value="{{agreement.id}}">{{agreement.client.name}} {{agreement.client.surname}} </option>
					              </select>  
					            </div>
					          </div>
				            <div class="form-group">
					          <label class="col-lg-3 control-label">Описание</label>
					            <div class="col-lg-6">
									<textarea ng-model="lostBottle.description" type="text" row="3" class="form-control" placeholder='Введите описание' name="total"></textarea> 
					            </div>
					          </div>
				          
				            <div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>