
<div ng-controller="LostBottleListCtrl" ng-init="init()">
<!-- content -->
<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-lg-12 pull-left">
						
						 <div class="col-lg-2 pull-left" style="margin-left:-14px">
							<div class="btn-group" dropdown="" is-open="status.isopen">
					            <button type="button" class="btn m-b-xs btn-sm btn-info btn-addon" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
					              <i class="fa fa-eye"></i>
					              Показать колонки <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
						                <input type="checkbox" ng-model="ShowName" >
						                <i></i>
						                Имя
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						      	        <label class="i-checks">
							              <input type="checkbox" ng-model="ShowSurname" >
							              <i></i>
							              Фамилия
						              </label>
						              </span>
					              </li>
					             <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="ShowDate" >
							              <i></i>
							              Дата
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="ShowCol" >
							              <i></i>
							              Количество
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="ShowOpis" >
							              <i></i>
							              Описание
						              </label>
						              </span>
					              </li>
					              <li><span style="padding: 5px 15px;">
						              <label class="i-checks">
							              <input type="checkbox" ng-model="ShowOpc" >
							              <i></i>
							              Опции
						              </label>
						              </span>
					              </li>
					            </ul>
					        </div>
						</div> 
						
						<button style="margin-left:-25px" class="btn m-b-xs btn-sm btn-success btn-addon pull-left" ng-click="exportData()"><i class="fa fa-download pull-right"></i>Скачать в Excel</button>
					</div> 
					<div class="col-sm-12">
				      <div class="panel panel-default" id="exportable">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="lost_bottle in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td ng-show="ShowName" data-title="'Имя'" sortable="'name'" filter="{ 'name': 'text' }" style="text-align:center;">{{lost_bottle.agreement.client.name}}</td>
	                            <td ng-show="ShowSurname" data-title="'Фамилия'" sortable="'surname'" filter="{ 'surname': 'text' }" style="text-align:center;">{{lost_bottle.agreement.client.surname}}</td>
	                            <td ng-show="ShowDate" data-title="'Дата'" sortable="'date'" filter="{ 'date': 'text' }" style="text-align:center;">{{lost_bottle.date | date: 'dd-MM-yyyy'}}</td>
	                            <td ng-show="ShowCol"data-title="'Количество'" sortable="'amount'" filter="{ 'amount': 'text' }" style="text-align:center;">{{lost_bottle.amount}}</td>
	                            <td ng-show="ShowOpis"data-title="'Описание'" sortable="'description'" filter="{ 'description': 'text' }" style="text-align:center;">{{lost_bottle.description}}</td>
	                          	<td ng-show="ShowOpc"data-title="' Опции '" style="text-align:center;min-width: 125px">
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="deleteLostBottle(lost_bottle.id )" tooltip="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
	                          </tr>
	                      </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>