<div ng-controller="BuyRawMaterailAddCtrl">
<!-- content -->
<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<form class="form-inline" ng-submit="saveSendList()">
		
	<div class="col-lg-12">
		<div class="bg-default lter b-b col-lg-5 panel-heading">
			<h1 class="m-n font-thin h3">Запросить сырье</h1>
		</div>
		<div class="col-lg-7">
  				<div class="col-lg-12 panel-heading">
			         <div class="form-group">
			          <div class="col-sm-10">
			            <div class="input-group w-md">
			              <input type="text" class="form-control" datepicker-popup="" disabled ng-model="date1" is-open="closed" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </div>
			          </div>
			        </div>
			        <div class="form-group">
			         <select ng-model="placeByToPlaceId" name="productType" class="form-control" >
			         	<option value="-1">Пункт Назначения</option>
		                <option ng-repeat="place in places" ng-value="{{place.id}}">
		                {{place.name}}
		                </option>
		              </select> 
   					</div>
				</div>
		</div>
	</div>
		<div style="clear:both"></div>
		<div class="progress progress-xs m-b-none dker ">
            <div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
        </div>
  			<div class="panel-body">
  				<div class="panel panel-warning" draggable="true">
					<div class="panel-heading"> Список Сырья  
						<div style="float:right	">
							<label class="i-switch bg-warning m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(1)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_1 ">
		  				<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
		                    <tr ng-repeat="purchase in $data" ng-class="{odd: $odd, even: $even}">
		                    	<td data-title="'#'">{{$index + 1}}.</td>
		                      <td data-title="'Название'" sortable="'name'" filter="{ 'name': 'text' }">{{purchase.description}}</td>
		                      <td data-title="'Единица измерения'" sortable="'unit.name'" filter="{ 'unit.name': 'text' }">{{purchase.unit.name}}</td>
		                      <td data-title="'Количество'" ><input type="number" min="1" ng-model="sendRaw.amount" /></td>
		                      <td data-title="'Цена за единицу'" ><input type="number" min="1" ng-model="sendRaw.unitPrice" ng-value="{{(totalRawPrice!=null)? totalRawPrice/sendRaw.amount : ''}}"/></td>
		                      <!-- <td data-title="'Общая цена'" ><input type="number" ng-model="totalRawPrice" value="{{(sendRaw.unitPrice!=null)? sendRaw.unitPrice*sendRaw.amount : ''}}"/></td> -->
		                      <td data-title="'Выбор'">
					            <div class="col-lg-6">  
					              <select ng-model="purchase.approvedByStock" name="isIn" class="form-control" placeholder='Выберите ' name="total" ng-required="true" >
					              		<option value="false">Не согласовано</option>
					              		<option value="true">Согласовано</option>
					              	</select>
					            </div>
					          </td>
		                      <td ><button class="btn m-b-xs w-xs btn-warning btn-rounded button_{{raw.id}}"  type="button" ng-click="addToSendList(raw.id,sendRaw.amount,sendRaw.unitPrice)" >Добавить</button></td>
		                    </tr>
		                </table>
		            </div>
 		 		</div>
 		 		<div class="panel panel-success" draggable="true">
					<div class="panel-heading"> Список Выбранного Сырья
						<div style="float:right	">
							<label class="i-switch bg-success m-t-xs m-r">
				              	<input type="checkbox" ng-click="toggleTable(2)">
				              <i></i>
				            </label>
			            </div>
		            </div>
					<div class="toggle_2">
		  				<table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>Название</th>
                          	<th>Единица измерения</th>
                          	<th>Количество</th>
                          	<th>Цена за единицу</th>
                        	<th>Общая цена</th>
                          </tr>
                          <tr ng-repeat="raw in sendRaws" value="{{raw.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{raw.name}}</td>
                            <td >{{raw.unit.name}}</td>
                            <td >{{raw.amount}}</td>
                            <td >{{raw.unitPrice}}</td>
                            <td >{{raw.unitPrice * raw.amount}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a ng-click="cancelRaw(raw.id)" data-toggle="modal" tooltip="Delete" data-placement="top"> <i class="icon-trash"></i></a> 
                                	<a href="javascript:void(0)" onclick="deleteType(type.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
						 <div class="line line-dashed b-b line-lg pull-in"></div>
						 <div class="co-lg-7">
						 	<label>Общая цена сырья: {{totalPrice}}</label>
						 	<textarea placeholder="Описание" style="width:89%; height:40px" ng-model="description"></textarea>
						 	<button style="float:right" class="btn m-b-xs w-xs btn-success btn-rounded tableSubmit" type="submit">Отправить</button>
		            	</div>
		            </div>
 		 		</div>
			  </div>
		   	</form>	
		</section>
	</div>
</div>
<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>